<script setup>
import { Mousewheel, Navigation } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { ProfileService } from '../service'
import { onMounted, computed } from 'vue'
import { useUserProfileStore } from '../store/userprofile'
import { useRoute } from 'vue-router'
import { useStore } from '@/stores/main'
import PhotoSmallSliderItem from './PhotoSmallSliderItem.vue'

const userData = computed(() => useUserProfileStore()?.profileInfo?.data)

const photoData = computed(() => useUserProfileStore()?.photoList?.data?.list)

const route = useRoute()

const pageId = route.params.user

const store = useStore()

const openModal = () => {
  store.GalleryIsOpen = true
}

onMounted(async () => {
  await ProfileService.getProfileInfo(pageId)

  await ProfileService.getProfilePhotoList(userData?.value.id)
})
</script>

<template>
  <div class="slider__wrapper">
    <svg
      class="slider-navigate left"
      width="18"
      height="35"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
    <Swiper
      :modules="[Navigation, Mousewheel]"
      :space-between="10"
      class="photo-small-slider"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      :mousewheel="true"
      :breakpoints="{
        0: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
        1200: {
          slidesPerView: 6,
        },
      }"
    >
    <SwiperSlide v-for="item in photoData" :key="item.id" >
      <PhotoSmallSliderItem :photo-data="item" @click="openModal()"/>
    </SwiperSlide>
  </Swiper>
  <svg
      class="slider-navigate right"
      width="18"
      height="35"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.slider__wrapper {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 413px;
  padding: 12px;
  background: rgba(40, 37, 42, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  @media (max-width: 1200px) {
    width: 311px;
    height: 100%;
  }
}
.slider-navigate.right {
  position: relative;
  right: 0;
  top: 0;
  margin: 0 0 0 10px;
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1200px) {
    display: none;
  }
}
.left {
  transform: rotate(180deg);
  margin: 0 10px 0 0 ;
  cursor: pointer;
  @media (max-width: 1200px) {
    display: none;
  }
}
.photo-small-slider {
  width: 370px;
  border-radius: 14px;
  @media (max-width: 1200px) {
    width: 295px;
  }
}
</style>
