<script setup>
import { Navigation, Mousewheel } from 'swiper'
import CarouselProfile from './CarouselProfile.vue'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { ProfileService } from '@/views/UserProfile/service'
import { onMounted, computed,ref } from 'vue'
import { useUserProfileStore } from '@/views/UserProfile/store/userprofile'
import { useRoute } from 'vue-router'
import Thumbnail from './Thumbnail.vue'

const userData = computed(() => useUserProfileStore()?.profileInfo?.data)

const photoData = computed(() => useUserProfileStore()?.photoList?.data?.list)

const route = useRoute()

const activeSlideIndex = ref(0)
const swipeLog = (slide) => {
  activeSlideIndex.value = slide.activeIndex
}

const pageId = route.params.user

onMounted(async () => {
  await ProfileService.getProfileInfo(pageId)

  await ProfileService.getProfilePhotoList(userData?.value.id)
})
</script>

<template>
  <div class="gallery__group">
    <svg
      class="slider-navigate left"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
    <Swiper
      :slide-per-view="1"
      :space-between="0"
      :modules="[Navigation, Mousewheel]"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      grab-cursor
      :mousewheel="true"
      :preload-images="false"
      class="swiper__user"
      @slideChange="swipeLog($event)"
    >
      <SwiperSlide v-for="item in photoData" :key="item" class="custom__slide">
        <Thumbnail :photo-data="item" />
      </SwiperSlide>
    </Swiper>
    <svg
      class="slider-navigate right"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="mini-photo__block">
    <CarouselProfile />
  </div>
  <div class="counter">
    {{activeSlideIndex + 1}} из {{photoData.length}}
  </div>
</template>

<style lang="scss" scoped>
.gallery__group {
  display: flex;
  position: absolute;
  top: 17px;
  align-items: center;
}
.counter{
  position: absolute;
  bottom: 17px;
}
.swiper__user {
  margin: 0;
  width: 560px;
}
.mini-photo__block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 96px;
}
.slider-navigate.right {
  position: relative;
  right: 0;
  top: 0;
  margin: 0 10px;
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1200px) {
    display: none;
  }
}
.left {
  transform: rotate(180deg);
  margin: 0 10px;
  cursor: pointer;
}
</style>
