<script setup>
import { Navigation, Mousewheel } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { ProfileService } from '../service'
import { onMounted, computed, ref } from 'vue'
import { useUserProfileStore } from '../store/userprofile'
import { useStore } from '@/stores/main'
import Thumbnail from './Thumbnail.vue'


const store = useStore()

const activeSlideIndex = ref(0)


const swipeLog = (slide) => {
  activeSlideIndex.value = slide.activeIndex
}

const photoData = computed(() => useUserProfileStore()?.photoList?.data?.list)
onMounted(async () => {
  await ProfileService.getProfilePhotoList()
})
const closeModal =()=> {
  store.GalleryIsOpen=false
}
</script>

<template>
  <div class="mobile__album">
    <div class="mobile__album__header">
      <div >
        <div class="btn__back__block" @click="closeModal($event)">
          <div class="btn__back">
            <img
            class="arrow"
            src="@/assets/images/main/auth__back__arrow.svg"
            alt=""
            />
          </div>
          <p>Назад</p>
        </div>
      </div>
      <div class="page__number">{{activeSlideIndex + 1}} <span>/ {{photoData.length}}</span></div>
    </div>
    <div class="avatar">
      <Swiper
      :slide-per-view="1"
      :space-between="0"
      :modules="[Navigation, Mousewheel]"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      grab-cursor
      :mousewheel="true"
      :preload-images="false"
      class="swiper__user"
      @slideChange="swipeLog($event)"
    >
      <SwiperSlide v-for="item in photoData" :key="item" class="custom__slide">
        <Thumbnail :photo-data="item" />
      </SwiperSlide>
    </Swiper>
    </div>
  </div>


   
</template>

<style lang="scss" scoped>
.swiper__user {
  width: 375px;
  height: 100%;
  object-fit: contain;
}
.mobile__album {
    display: flex;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background: black;
    
    .avatar {
      height: 100%;
      object-fit: contain;
      // position: relative;
    }
  }
  .mobile__album__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin-top: 1.538vw;
    position: relative;
    left: -74px;
    top: 50px;
    z-index: 99;
    .btn__back__block {
      display: flex;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 153.5%;
        color: #ffffff;
      }
      .btn__back {
      }
      .page__number {
        font-weight: 600;
        font-size: 18px;
        line-height: 153.5%;
        color: #ffffff;
        span {
          font-weight: 600;
          font-size: 18px;
          line-height: 153.5%;
          color: #ffffff;
        }
      }
    }
  }

</style>
