<script setup>
import { UserProfileApi } from '../api'
import { ref } from 'vue'

const url = ref('')
const getImg = async () =>
  (url.value = (await UserProfileApi.getUserPhoto(props.photoData?.id)).data)
getImg()

const props = defineProps({
  photoData: {
    type: Object,
    required: true,
  },
})
</script>

<template>

  <div class="small-photo">
    <img :src="url" alt="" class="image" />
  </div>
</template>

<style lang="scss" scoped>
.small-photo {
  position: relative;
  width: 55px;
  height: 55px;
  @media (max-width: 1200px) {
    width: 60px;
    height: 60px;
  }
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
  }
}
</style>
