<script setup>
import { UserProfileApi } from '../api'
import { ref } from 'vue'

const url = ref('')
const getImg = async () =>
  (url.value = (await UserProfileApi.getUserPhoto(props.photoData?.id)).data)
getImg()

const props = defineProps({
  photoData: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="small-photo">
    <img :src="url" alt="" class="image" />
  </div>
</template>

<style lang="scss" scoped>
.small-photo {
  position: relative;
  height: 714px;
  width: 560px;
  display: flex;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 100%;
  }
  .image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
  }
}
</style>
