<script setup>
import { ref, computed, watch, onMounted } from 'vue'
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/stores/user'
import { useDatabaseStore } from '@/stores/database'
import { useStore } from '@/stores/main'
import { useMailingStore } from '@/stores/mailing'
import { MailingService } from '@/services/mailing'
import TheSelect from '@/components/Form/TheSelect.vue'
import FormTextArea from '@/components/Form/FormTextArea.vue'
import BigButton from '@/components/Form/BigButton.vue'

const store = useStore()
const userStore = useUserStore()
const databaseStore = useDatabaseStore()
const mailingStore = useMailingStore()

const { newSendWindowParams } = storeToRefs(store)

const datingFormats = ref([
  'Онлайн общение',
  'Серьезные отношения',
  'Спонсорство',
  'Пойти на свидание',
  'Путешествия',
])
const datingFormat = ref(store.newSendWindowParams?.datingFormat || null)

const sendWrap = ref(null)

const city = ref(
  store.newSendWindowParams?.city || userStore.userInfo.data?.city?.name || null
)

const message = ref('')

const error = ref(false)
const errorMessage = ref('')

const cityError = ref(false)
const datingFormatError = ref(false)
const messageError = ref(false)

const cities = computed(() => {
  const userCountry = userStore.userInfo.data?.country || null

  if (userCountry === null) {
    return []
  }

  let countryIdx = 0

  databaseStore.countries.data.forEach((country, idx) => {
    if (country.id === userCountry.id) {
      countryIdx = idx
    }
  })

  return databaseStore.cities.data[countryIdx] || []
})

const options = computed(() => cities.value.map((city) => city.name))

const price = computed(() => mailingStore.price.data?.price / 100 || null)

const priceError = computed(() => mailingStore.price.error)

const createError = computed(() => mailingStore.create.error)

watch(newSendWindowParams, () => {
  if (newSendWindowParams?.value?.city) {
    city.value = newSendWindowParams.value.city
  }

  if (newSendWindowParams?.value?.datingFormat) {
    datingFormat.value = newSendWindowParams.value.datingFormat
  }
})

watch(city, () => {
  if (city.value) {
    cityError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

watch(datingFormat, () => {
  if (datingFormat.value) {
    datingFormatError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

watch(message, () => {
  if (message.value) {
    messageError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

onMounted(async () => {
  await MailingService.mailingPrice()
})

document.addEventListener('click', (e) => {
  e.stopPropagation()
  if (e.target === sendWrap.value) {
    closeNewSendWindow()
  }
})

const closeNewSendWindow = () => {
  store.newSendWindow = false
}
const clickHandler = async () => {
  if (!city.value) {
    errorMessage.value = 'Выберите город'
    error.value = true

    cityError.value = true

    return
  }

  if (!datingFormat.value) {
    errorMessage.value = 'Выбирите формат знакомств'
    error.value = true

    datingFormatError.value = true

    return
  }

  if (message.value.length < 20 || message.value.length > 500) {
    errorMessage.value = 'Текст рассылки должен содержать больше 20 символов'
    error.value = true

    messageError.value = true

    return
  }

  await MailingService.create(city.value, datingFormat.value, message.value)
}

const inputHandler = (msg) => {
  message.value = msg
}
</script>

<template>
  <div
    ref="sendWrap"
    class="new-send-modal-wrap"
    :class="{ active: store.newSendWindow }"
  >
    <div class="new-send-modal" :class="{ error: error }">
      <img
        src="@/assets/images/close-new-send.svg"
        alt=""
        class="close"
        @click="closeNewSendWindow()"
      />
      <div class="title-block">
        <p class="title">Создание рассылки</p>
        <p class="time">Время публикации 8 часов</p>
      </div>
      <div class="form-block">
        <div class="inputs-block">
          <TheSelect
            v-model="city"
            placeholder="Выберите город"
            :options="options"
            :z-index="2"
            :error="cityError"
          />
          <TheSelect
            v-model="datingFormat"
            placeholder="Выберите формат"
            :options="datingFormats"
            :z-index="1"
            :error="datingFormatError"
          />
          <FormTextArea
            placeholder="Сообщение"
            name="Сообщение"
            :error="messageError"
            @input="inputHandler($event)"
          />
        </div>
        <small class="small">
          Напоминаем, что в рассылке запрещенно указывать свои контактные данные
        </small>
        <BigButton
          v-if="price !== null"
          :title="`Создать рассылку ${price}₽`"
          @click="clickHandler()"
        />

        <div
          v-if="error || priceError?.status || createError?.status"
          class="new-send-modal-wrap__error"
        >
          {{ errorMessage || priceError?.message || createError?.message }}
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.new-send-modal-wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(50px);
  z-index: 1002;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &__error {
    margin-top: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 153.5%;
    color: #2965ff;
    text-align: center;
  }

  .new-send-modal {
    width: 715px;
    max-width: 715px;
    border: 1px solid rgba(255, 255, 255, 0.33);
    border-radius: 24px;
    background: rgba(36, 37, 41, 0.6);
    padding: 24px;
    position: relative;
    .close {
      position: absolute;
      top: 0;
      right: -30px;
      cursor: pointer;
    }
    .title-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 18px;
        font-weight: 600;
      }
      .time {
        font-size: 14px;
        font-weight: 500;
        color: #ffffff;
      }
    }
    .form-block {
      .inputs-block {
        margin-top: 16px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
        .form-selecet {
          margin-bottom: 0;
        }
        .form-textarea {
          grid-column: 1/3;
        }
      }
      .big-btn {
        margin-top: 16px;
      }
      .small {
        font-weight: 500;
        font-size: 14px;
        line-height: 153.5%;
        color: #ffffff;
        display: block;
        text-align: center;
        margin-top: 4px;
      }
    }
  }
}

.new-send-modal.error {
  border-color: #2965ff;
}

.new-send-modal-wrap.active {
  display: flex;
}
@media (max-width: 1200px) {
  .new-send-modal-wrap {
    .new-send-modal {
      max-width: 95%;

      .close {
        display: none;
      }

      .title-block {
        flex-direction: column;
        align-items: center;
        .title {
          line-height: 27.63px;
        }

        .time {
          color: rgba(255, 255, 255, 0.33);
          line-height: 21.49px;
        }
      }

      .form-block {
        .inputs-block {
          grid-template-columns: 1fr;
          .form-textarea {
            grid-column: 1/1;
          }
        }
      }
    }
  }
}
</style>
