<script setup>
import { computed, ref } from 'vue'
import { useChatStore } from '@/views/Chat/store/chat'
import RequestItem from '@/components/Chat/RequestItem.vue'
import ProfilePopupDiamond from '@/components/Profile/ProfilePopupDiamond.vue'
import ProfilePopupDiamondNomoney from '@/components/Profile/ProfilePopupDiamondNomoney.vue'

const chatStore = useChatStore()

const emits = defineEmits(['change-tab'])

const popup = ref(false)
const popupError = ref(false)

const user = ref({})

const requests = computed(() => chatStore.requests.data?.list || [])

const clickHandler = (item) => {
  user.value = item.user

  popup.value = true
}

const hideModalErrorHandler = () => {
  popup.value = false

  popupError.value = true
}

const hideModalErrorSuccess = () => {
  popup.value = false

  emits('change-tab', 'chats')
}
</script>

<template>
  <ProfilePopupDiamond
    v-if="popup"
    :user="user"
    @hide-modal="popup = false"
    @hide-modal-error="hideModalErrorHandler()"
    @hide-modal-success="hideModalErrorSuccess()"
  />
  <ProfilePopupDiamondNomoney
    v-if="popupError"
    @hide-modal="popupError = false"
  />
  <div class="chats-tab-content">
    <PerfectScrollbar v-if="requests.length">
      <RequestItem
        v-for="(request, idx) in requests"
        :key="idx"
        :request="request"
        @click="clickHandler($event)"
      />
    </PerfectScrollbar>
  </div>

  <div v-if="!requests.length" class="chats-tab-empty">
    <p class="chats-tab-empty__title">Список заявок пуст.</p>
  </div>
</template>

<style lang="scss">
.chats-tab-content {
  max-width: 780px;
  margin: 0 auto;
}
.ps {
  height: 100vh;
  padding-bottom: 50px;
  padding: 150px 30px 50px 30px;
  position: relative;
  .ps__rail-y {
    margin-top: 150px;
    margin-right: 5px;
    width: 2px;
    background: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0;
    .ps__thumb-y {
      width: 2px;
      background-color: #fff;
      border-radius: 0;
      right: 0;
    }
  }
}

.chats-tab-empty {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: inline-block;
    width: 195px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }
}
</style>
