<script setup>
import { computed, ref } from 'vue'
import { useChatStore } from '@/views/Chat/store/chat'
import RequestItem from '@/components/Chat/RequestItem.vue'
import ProfilePopupDiamond from '@/components/Profile/ProfilePopupDiamond.vue'
import ProfilePopupDiamondNomoney from '@/components/Profile/ProfilePopupDiamondNomoney.vue'

const chatStore = useChatStore()

const emits = defineEmits(['change-tab'])

const popup = ref(false)
const popupError = ref(false)

const user = ref({})

const requests = computed(() => chatStore.requests.data?.list || [])

const clickHandler = (item) => {
  user.value = item.user

  popup.value = true
}

const hideModalErrorHandler = () => {
  popup.value = false

  popupError.value = true
}

const hideModalErrorSuccess = () => {
  popup.value = false

  emits('change-tab', 'chats')
}
</script>

<template>
  <ProfilePopupDiamond
    v-if="popup"
    :user="user"
    @hide-modal="popup = false"
    @hide-modal-error="hideModalErrorHandler()"
    @hide-modal-success="hideModalErrorSuccess()"
  />
  <ProfilePopupDiamondNomoney
    v-if="popupError"
    @hide-modal="popupError = false"
  />
  <div v-if="requests.length" class="tab-content">
    <RequestItem
      v-for="(request, idx) in requests"
      :key="idx"
      :request="request"
      @click="clickHandler($event)"
    />
  </div>
  <div v-if="!requests.length" class="chats-tab-empty">
    <p class="chats-tab-empty__title">Список заявок пуст.</p>
  </div>
</template>

<style lang="scss">
.tab-content {
  padding-top: 140px;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 50px;
}
</style>
