<script setup>
import { computed } from 'vue'
import { useChatStore } from '@/views/Chat/store/chat'
import DialogItem from '@/components/Chat/DialogItem.vue'
import { ChatService } from '@/views/Chat/services'

const chatStore = useChatStore()

const dialogs = computed(() => chatStore.dialogs.data?.list || [])

const deleteDialogsHandler = async () => {
  await ChatService.deleteDialogs()
}
</script>

<template>
  <div v-if="dialogs.length" class="tab-content">
    <DialogItem v-for="(dialog, idx) in dialogs" :key="idx" :dialog="dialog" />
    <button class="delite-dialogs" @click="deleteDialogsHandler()">
      Удалить все диалоги
    </button>
  </div>
  <div v-if="!dialogs.length" class="chats-tab-empty">
    <p class="chats-tab-empty__title">
      Список диалогов пуст. Найдите свою половинку.
    </p>
    <router-link class="chats-tab-empty__button" to="/search">
      Найти пару
    </router-link>
  </div>
</template>

<style lang="scss">
.tab-content {
  padding-top: 140px;
  overflow-x: hidden;
  width: 100%;
  padding-bottom: 50px;
}
</style>
