<script setup>
import { computed } from 'vue'
import { useChatStore } from '@/views/Chat/store/chat'
import DialogItem from '@/components/Chat/DialogItem.vue'
import { ChatService } from '@/views/Chat/services'

const chatStore = useChatStore()

const dialogs = computed(() => chatStore.dialogs.data?.list || [])

const deleteDialogsHandler = async () => {
  await ChatService.deleteDialogs()

  await ChatService.dialogs()
}
</script>

<template>
  <div class="chats-tab-content">
    <PerfectScrollbar v-if="dialogs.length">
      <DialogItem
        v-for="(dialog, idx) in dialogs"
        :key="idx"
        :dialog="dialog"
      />
      <button class="delite-dialogs" @click="deleteDialogsHandler()">
        Удалить все диалоги
      </button>
    </PerfectScrollbar>

    <div v-if="!dialogs.length" class="chats-tab-empty">
      <p class="chats-tab-empty__title">
        Список диалогов пуст. Найдите свою половинку.
      </p>
      <router-link class="chats-tab-empty__button" to="/search">
        Найти пару
      </router-link>
    </div>
  </div>
</template>

<style lang="scss">
.chats-tab-content {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
}
.ps {
  height: 100vh;
  padding-bottom: 50px;
  padding: 150px 30px 50px 30px;
  position: relative;
  .ps__rail-y {
    margin-top: 150px;
    margin-right: 5px;
    width: 2px;
    background: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0;
    .ps__thumb-y {
      width: 2px;
      background-color: #fff;
      border-radius: 0;
      right: 0;
    }
  }
}

.chats-tab-empty {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__title {
    display: inline-block;
    width: 195px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 153.5%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 34px;
    text-decoration: none;
    border: 1px solid #2b66fb;
    border-radius: 11px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 132.5%;
    color: #2b66fb;
    margin-top: 16px;
  }
}
</style>
