<script setup>
import { computed, ref } from 'vue'

const MONTHS = [
  'янв',
  'фев',
  'мар',
  'апр',
  'мая',
  'июн',
  'июл',
  'авг',
  'сен',
  'окт',
  'ноя',
  'дек',
]

const props = defineProps({
  message: {
    type: Object,
    required: true,
  },
  avatar: {
    type: String,
    default: '',
  },
  userName: {
    type: String,
    default: '',
  },
  deleteMessages: {
    type: Boolean,
    default: false,
  },
})

const emits = defineEmits(['delete-message'])

const messageState = ref(false)

const lastMessageDate = computed(() => {
  if (!props.message?.date) {
    return ''
  }

  const currentDate = new Date()
  const lastMessageDate = new Date(props.message?.date)

  let result = ''

  const currentDay = currentDate.getDate()
  const lastMessageDay = lastMessageDate.getDate()

  const currentMonth = currentDate.getMonth()
  const lastMessageMonth = lastMessageDate.getMonth()

  const currentYear = currentDate.getFullYear().toString()
  const lastMessageYear = lastMessageDate.getFullYear().toString()

  if (
    `${currentDay}${currentMonth}${currentYear}` !==
    `${lastMessageDay}${lastMessageMonth}${lastMessageYear}`
  ) {
    result += `${lastMessageDay}`

    result += ` ${MONTHS[lastMessageMonth]}`

    if (currentYear !== lastMessageYear) {
      result += ` ${lastMessageYear}`
    }
  }

  if (result === '') {
    result = `${getLeadZero(lastMessageDate.getHours())}:${getLeadZero(
      lastMessageDate.getMinutes()
    )}`
  }

  return result
})

const getLeadZero = (num) => {
  return num.toString().length === 1 ? `0${num}` : num.toString()
}

const selectHandler = (id) => {
  messageState.value = !messageState.value

  emits('delete-message', { state: messageState, id })
}
</script>

<template>
  <div class="message-item">
    <div class="avatar">
      <img :src="avatar" :alt="userName" />
    </div>
    <div class="message-wrap">
      <p class="author">{{ userName }}</p>
      <p v-if="message.data.text" class="message">
        {{ message.data.text }}
      </p>
    </div>
    <span class="time">{{ lastMessageDate }}</span>
    <div
      v-if="deleteMessages"
      class="checkbox"
      :class="{ 'checkbox-active': messageState }"
      @click="selectHandler(message.id)"
    ></div>
  </div>
</template>

<style lang="scss">
.message-item {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
  position: relative;
  margin-bottom: 25px;
  .time {
    position: absolute;
    right: 0;
    top: 0;
    color: rgba($color: #fff, $alpha: 0.3);
  }
  .message-wrap {
    max-width: 70%;
    .author {
      font-style: 16px;
      color: #fff;
      font-weight: 600;
      text-align: left;
    }
    .message {
      font-size: 14px;
      font-weight: 500;
      color: rgba($color: #fff, $alpha: 0.6);
      line-height: 1.5;
    }
  }
  span {
    font-size: 14px;
  }
  .avatar {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .checkbox {
    position: absolute;
    right: -32px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    cursor: pointer;
  }

  .checkbox-active {
    background: #2e66f5;
    border-color: #2e66f5;
  }
}
</style>
