<script setup>
import { computed } from 'vue'

const MONTHS = [
  'янв',
  'фев',
  'мар',
  'апр',
  'мая',
  'июн',
  'июл',
  'авг',
  'сен',
  'окт',
  'ноя',
  'дек',
]

const props = defineProps({
  message: {
    type: Object,
    required: true,
  },
  right: {
    type: Boolean,
    default: false,
  },
})

const lastMessageDate = computed(() => {
  if (!props.message?.date) {
    return ''
  }

  const currentDate = new Date()
  const lastMessageDate = new Date(props.message?.date)

  let result = ''

  const currentDay = currentDate.getDate()
  const lastMessageDay = lastMessageDate.getDate()

  const currentMonth = currentDate.getMonth()
  const lastMessageMonth = lastMessageDate.getMonth()

  const currentYear = currentDate.getFullYear().toString()
  const lastMessageYear = lastMessageDate.getFullYear().toString()

  if (
    `${currentDay}${currentMonth}${currentYear}` !==
    `${lastMessageDay}${lastMessageMonth}${lastMessageYear}`
  ) {
    result += `${lastMessageDay}`

    result += ` ${MONTHS[lastMessageMonth]}`

    if (currentYear !== lastMessageYear) {
      result += ` ${lastMessageYear}`
    }
  }

  if (result === '') {
    result = `${getLeadZero(lastMessageDate.getHours())}:${getLeadZero(
      lastMessageDate.getMinutes()
    )}`
  }

  return result
})

const getLeadZero = (num) => {
  return num.toString().length === 1 ? `0${num}` : num.toString()
}
</script>

<template>
  <div class="mobile-message-item" :class="{ right: right }">
    <p class="message">
      {{ message.data.text }}
      <span class="time">
        {{ lastMessageDate }}
      </span>
    </p>
  </div>
</template>

<style lang="scss">
.mobile-message-item {
  padding: 6px 10px;
  position: relative;
  border-radius: 14px;
  max-width: 70%;
  background: rgba(255, 255, 255, 0.05);
  position: relative;
  .message {
    font-size: 14px;
    color: #fff;
  }
  .time {
    font-size: 11px;
    color: rgba(255, 255, 255, 0.3);
    float: right;
    margin-left: 10px;
    margin-top: 10px;
  }
}
.mobile-message-item.left {
  background: rgba(255, 255, 255, 0.05);
}
.mobile-message-item.right {
  background: #2b66fb;
  align-self: flex-end;
}
</style>
