<script setup>
import LikesMobileItem from './LikesMobileItem.vue'
import { computed, onMounted } from 'vue'
import { useNotificationStore } from '../store/notification'
import { NotificationService } from '../service'

const likeData = computed(() => useNotificationStore().likeList?.data?.list)

onMounted(async () => {
  await NotificationService.getLikeList()
})
</script>

<template>
  <div class="tab-content">
    <LikesMobileItem
      v-for="(items, idx) in likeData"
      :key="idx"
      :like-item-data="items"
    />
  </div>
</template>

<style lang="scss">
.tab-content {
  padding-top: 140px;
  overflow-x: hidden;
}
</style>
