<script setup>
import { useNotificationStore } from '../store/notification'
import { NotificationService } from '../service'
import { computed, onMounted } from 'vue'
import { UserService } from '../../../services/user'
import { useUserStore } from '../../../stores/user'
import LikesItem from './LikesItem.vue'

const viewsData = computed(() => useNotificationStore().viewsList?.data?.list)

const userData = computed(() => useUserStore().userInfo?.data)

const title = computed(() =>
  userData?.value.sex == 2
    ? 'Просматривал вашу анкету'
    : 'Просматривала вашу анкету'
)

onMounted(async () => {
  await NotificationService.getViewList()

  await UserService.userInfo()
})
</script>

<template>
  <PerfectScrollbar>
    <div class="views-tab-content">
      <LikesItem
        v-for="(item, index) in viewsData"
        :key="index"
        :like-item-data="item"
        :title="title"
      />
    </div>
  </PerfectScrollbar>
</template>

<style lang="scss">
.ps {
  padding-top: 150px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  .ps__rail-y {
    margin-top: 150px;
    margin-right: 5px;
    width: 2px;
    background: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0;
    .ps__thumb-y {
      width: 2px;
      background-color: #fff;
      border-radius: 0;
      right: 0;
    }
  }
}
.ps::-webkit-scrollbar {
  display: none;
}
.views-tab-content {
  width: 730px;
  margin: 0 auto;
}
</style>
