<script setup>
import LikesMobileItem from './LikesMobileItem.vue'
import { useNotificationStore } from '../store/notification'
import { NotificationService } from '../service'
import { computed, onMounted } from 'vue'
import { UserService } from '../../../services/user'
import { useUserStore } from '../../../stores/user'

const viewsData = computed(() => useNotificationStore().viewsList?.data?.list)

const userData = computed(() => useUserStore().userInfo?.data)

const title = computed(() =>
  userData?.value.sex == 2
    ? 'Просматривал вашу анкету'
    : 'Просматривала вашу анкету'
)

onMounted(async () => {
  await NotificationService.getViewList()

  await UserService.userInfo()
})
</script>

<template>
  <div class="tab-content">
    <LikesMobileItem
      v-for="(items, idx) in viewsData"
      :key="idx"
      :like-item-data="items"
      :title="title"
    />
  </div>
</template>

<style lang="scss">
.tab-content {
  padding-top: 109px;
  overflow-x: hidden;
}
</style>
