<script setup>
import { watch, ref } from 'vue'
import { useRouter } from 'vue-router'
import { UserService } from '@/services/user'
import TheSelect from '../Form/TheSelect.vue'

const router = useRouter()

const emit = defineEmits(['hideModalReport'])

const reason = ref(null)
const description = ref('')

const reasonError = ref(false)
const descriptionError = ref(false)

const error = ref(false)
const errorMessage = ref('')

const options = ref([
  'Оскорбления',
  'Угроза',
  'Вымогательство',
  'Не соответствует фото',
  'Спам',
])

watch(reason, () => {
  if (reason.value) {
    reasonError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

watch(description, () => {
  if (description.value) {
    descriptionError.value = false

    error.value = false
    errorMessage.value = ''
  }
})

const clickHandler = async () => {
  if (reason.value === null || reason.value === '') {
    errorMessage.value = 'Укажите причину'
    error.value = true

    reasonError.value = true

    return
  }

  if (description.value === '') {
    errorMessage.value = 'Введите описание жалобы'
    error.value = true

    descriptionError.value = true

    return
  }

  const reasons = [
    { id: 1, title: 'Оскорбления' },
    { id: 2, title: 'Угроза' },
    { id: 3, title: 'Вымогательство' },
    { id: 4, title: 'Не соответствует фото' },
    { id: 5, title: 'Спам' },
  ]

  const currentReason = reasons.filter((item) => item.title === reason.value)[0]
    .id

  const response = await UserService.complaintsAdd(
    currentReason,
    description.value,
    router.currentRoute.value.params.userId
  )

  if (response?.status) {
    errorMessage.value = response.message
    error.value = true

    return
  }

  emit('hideModalReport')
}
</script>

<template>
  <div class="report__popup__background" @click.self="emit('hideModalReport')">
    <div class="report__popup__block">
      <div class="report__popup__content">
        <div class="report__popup__title">Жалоба на пользователя</div>
        <div class="report__popup__select">
          <TheSelect
            v-model="reason"
            placeholder="Причина"
            :options="options"
            :error="reasonError"
          />
        </div>
        <textarea
          v-model="description"
          class="report__popup__comment"
          :class="{ 'report__popup__comment--error': descriptionError }"
          placeholder="Введите текст..."
        ></textarea>
        <div v-if="error" class="report__popup__message">
          {{ errorMessage }}
        </div>
        <div class="report__popup__button" @click="clickHandler()">
          Отправить запрос
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.text {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 153.5%;
  color: #ffffff;
}
.report__popup__background {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report__popup__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid #2b66fb;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.17);
  border-radius: 24px;
}
.report__popup__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 16px;
  width: 328px;
  height: 364px;
}
.report__popup__title {
  @extend .text;
  display: flex;
  align-items: center;
}
.report__popup__select {
  gap: 12px;
  width: 328px;
  height: 60px;
  cursor: pointer;
  background: none;
}
.report__popup__comment {
  @extend .text;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 328px;
  height: 174px;
  border-radius: 11px;
  font-size: 15px;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: none;
  outline: none;
  resize: none;
  &::placeholder {
    color: rgba(255, 255, 255, 0.33);
  }
  &:focus {
    border: #ffffff 1px solid;
  }

  &--error {
    border-color: #2b66fb;
  }
}
.report__popup__button {
  @extend .text;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 26px;
  gap: 10px;
  width: 328px;
  height: 54px;
  background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
  border-radius: 11px;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .report__popup__block {
    height: 107.17vw;
    width: 85.89vw;
    background: rgba(36, 37, 41, 0.6);
    border: 0.256vw solid #2b66fb;
    border-radius: 6.153vw;
    .report__popup__content {
      align-items: center;
      height: 94.87vw;
      width: 73.589vw;
      .report__popup__select {
        width: 73.589vw;
        height: 15.38vw;
      }
      .report__popup__comment {
        width: 73.589vw;
        height: 51.538vw;
      }
      .report__popup__button {
        width: 41.282vw;
        height: 8.461vw;
        font-weight: 700;
        font-size: 3.589vw;
        line-height: 132.5%;
        padding: 0;
      }
    }
  }
}

.report__popup__message {
  display: block;
  width: 100%;
  font-family: 'Mulish';
  color: #2b66fb;
  font-size: 12px;
  line-height: 132.5%;
  font-weight: 600;
  text-align: center;
}
</style>
