<script setup>
import { useStore } from '@/stores/main'
import GalleryPopup from '@/views/UserProfile/components/GalleryPopup.vue'
import MobilePhotoCarouselUserPage from '../../views/UserProfile/components/MobilePhotoCarouselUserPage.vue'

const store = useStore()

const closeModal = () => {
  store.GalleryIsOpen = false
}
</script>

<template>
  <div class="album__block" >
    <div class="album__content">
      <GalleryPopup class="gallery__block" />
    </div>
    <div class="album__close" @click="closeModal()">
      <img src="@/assets/images/main/close-album.svg" alt="" />
    </div>
  </div>
  <div class="mobile__album">
    <MobilePhotoCarouselUserPage />
  </div>
</template>

<style lang="scss" scoped>
.mobile__album {
  display: none;
}
.album__block {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
}

.album__content {
  position: relative;
  top: 0;
  width: 1382px;
  height: 818px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(30px);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album__photo__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.album__photo__carousel {
}
.album__photo__container {
  width: 560px;
  height: 782.97px;
}
.photo__frame {
  width: 560px;
  height: 714px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
  border-radius: 24px;
  img {
    width: 560px;
    height: 714px;
    border-radius: 14px;
    position: relative;
    z-index: 0;
  }
}
.photo__frame__carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;
  backdrop-filter: blur(15px);
  position: absolute;
  width: 388px;
  height: 78px;
  left: 86px;
  top: 672px;
  z-index: 100;
  background: rgba(40, 37, 42, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
}
.photo__frame__carousel__item__list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 7px;
  width: 364px;
  height: 54px;
  border-radius: 52px;
}
.photo__frame__carousel__item {
  width: 54px;
  height: 54px;
  background: url(../../assets/images/main/potincial-mini-photo.png);
  border-radius: 14px;
  cursor: pointer;
}
.photo__frame__carousel__counter {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 153.5%;
  color: #ffffff;
  text-align: center;
  margin-top: 35px;
}
.album__close {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 818px;
  margin-left: 24px;
  img {
    cursor: pointer;
  }
}
.photo__frame__btn__block {
  display: flex;
  justify-content: space-between;
  width: 360px;
  height: 28px;
  .btn {
    padding: 6px 12px;
    gap: 10px;
    width: 174px;
    height: 28px;
    background: rgba(40, 37, 42, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.33);
    backdrop-filter: blur(15px);
    border-radius: 8px;
    font-weight: 600;
    font-size: 12px;
    line-height: 132.5%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
.button__carousel__right {
  margin-right: 40px;
  img {
    cursor: pointer;
  }
}
.button__carousel__left {
  margin-left: 40px;
  img {
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .album__block {
    display: none;
  }
  .mobile__album {
    display: flex;
    width: 375px;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background: black;
  }
}
</style>
