<script setup>
import { ref, watch } from 'vue'
import { onClickOutside } from '@vueuse/core'
import BigButton from '@/components/Form/BigButton.vue'

const formatsOpen = ref(false)
const formatsValue = ref([])
const target = ref(null)

const emits = defineEmits(['changeFormat'])

watch(formatsValue, (val) => emits('changeFormat', val))

const formats = [
  {
    title: 'Онлайн общение',
    value: 1,
  },
  {
    title: 'Серьезные отношения',
    value: 2,
  },
  {
    title: 'Спонсорство',
    value: 3,
  },
  {
    title: 'Пойти на свидание',
    value: 4,
  },
  {
    title: 'Путешествия',
    value: 5,
  },
]

const resetValue = (idx) => {
  formatsValue.value.splice(idx, 1)
}
const closeFormat = () => (formatsOpen.value = false)
onClickOutside(target, () => (formatsOpen.value = false))
</script>

<template>
  <div ref="target">
    <div id="formats" :class="{ open: formatsOpen }">
      <ul class="items">
        <li class="placeholder" @click="formatsOpen = !formatsOpen">
          <span>Выбрать формат</span>
          <img src="@/assets/images/main/select-arrow.svg" alt="" />
        </li>
        <li v-for="(item, idx) in formats" :key="item.value">
          <label
            :for="`id${item.value}`"
            :class="{ last__label: formats.length - 1 == idx }"
          >
            <p class="label">{{ item.title }}</p>
            <input
              :id="`id${item.value}`"
              v-model="formatsValue"
              type="checkbox"
              :value="item"
            />
            <div class="checkbox">
              <img src="@/assets/images/main/checkbox.svg" alt="" />
            </div>
          </label>
        </li>
      </ul>
      <div class="btn-wrap">
        <BigButton
          title="Выбрать"
          class="big__btn__search"
          @click="closeFormat($event)"
        />
      </div>
    </div>

    <div v-if="formatsValue.length && !formatsOpen" id="selected-meaning">
      <div v-for="(item, idx) in formatsValue" :key="idx" class="item">
        <span>{{ item.title }}</span>
        <img
          src="@/assets/images/main/carbon_close.svg"
          alt=""
          @click="resetValue(idx)"
        />
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
#formats {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 11px;
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  .items {
    list-style: none;
    padding: 0;
    width: calc(100% + 2px);
    margin-top: -1px;
    margin-left: -1px;
    .placeholder {
      display: flex;
      align-items: center;
      position: relative;
      border: 1px solid rgba($color: #fff, $alpha: 0.3);
      height: 60px;
      border-radius: 11px;
      padding: 0 17px;
      cursor: pointer;
      span {
        font-size: 15px;
        font-weight: 500;
        opacity: 0.2s ease-in-out;
      }
      img {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        transition: opacity;
      }
    }
    li {
      label {
        display: flex;
        height: 60px;
        padding: 0 17px;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        cursor: pointer;
        &.last__label {
          border: none;
        }
        input {
          position: absolute;
          width: 0;
          height: 0;
        }
        input:checked + .checkbox {
          background: #2965ff;
          border: 1px solid #2965ff;
          img {
            opacity: 1;
          }
        }
        .lebel {
          font-size: 15px;
          font-weight: 600;
          color: #fff;
          padding: 0 17px;
        }
        .checkbox {
          display: flex;
          align-items: center;
          justify-content: center;
          background: transparent;
          border: 1px solid #fff;
          border-radius: 4px;
          width: 19px;
          height: 19px;
          img {
            width: 13px;
            height: auto;
            opacity: 0;
          }
        }
      }
    }
  }
  .btn-wrap {
    padding: 4px;
    box-sizing: content-box;
    .big__btn__search {
      border-radius: 7px;
      margin: 0;
    }
  }
}
#formats.open {
  max-height: 1000px;
  border-color: #fff;
  .items {
    .placeholder {
      img {
        opacity: 0;
      }
    }
  }
}

#selected-meaning {
  display: flex;
  margin-top: 16px;
  margin-bottom: 16px;
  padding-bottom: 10px;
  gap: 15px;

  max-height: 66px;
  overflow-x: auto;
  flex-direction: row;

  &::-webkit-scrollbar {
    height: 4px; /* высота для горизонтального скролла */
    background-color: #3f3f3f;
    margin: 20px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cac7c9;
    border-radius: 9em;
  }
  .item {
    background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    padding: 7px;
    padding-left: 25px;
    span {
      margin-right: 15px;
      font-size: 16px;
      font-weight: 600;
    }
    img {
      width: 25px;
      height: auto;
      cursor: pointer;
    }
  }
}
</style>
