<script setup>
import { reactive, computed, onMounted } from 'vue'
import { useNotificationStore } from './store/notification'
import { NotificationService } from './service'
import LikesTabContent from './components/LikesTabContent.vue'
import ViewsTabContent from './components/ViewsTabContent.vue'
import SpecialProposal from '@/components/SpecialProposal.vue'
import NotificationsMobile from './components/NotificationsMobile.vue'

const tabs = reactive({
  likes: true,
  views: false,
})

const activeTab = computed(() => {
  if (tabs.likes) {
    return LikesTabContent
  } else if (tabs.views) {
    return ViewsTabContent
  }

  return null
})

const likeData = computed(() => useNotificationStore().likeList?.data)

const viewsData = computed(() => useNotificationStore().viewsList?.data)

onMounted(async () => {
  await NotificationService.getLikeList()

  await NotificationService.getViewList()
})

const tabActive = (param) => {
  if (param === 'likes') {
    tabs.likes = true
    tabs.views = false
  } else if (param === 'views') {
    tabs.views = true
    tabs.likes = false
  }
}
</script>

<template>
  <section id="notifications">
    <div class="grid">
      <div class="main-content">
        <div class="tab-header">
          <div class="tab" :class="{ active: tabs.likes }">
            <p class="title" @click="tabActive('likes')">
              Лайки
              <span v-if="likeData?.newCount > 0"
                >+ {{ likeData?.newCount }}</span
              >
            </p>
          </div>
          <div class="tab" :class="{ active: tabs.views }">
            <p class="title" @click="tabActive('views')">
              Просмотры профиля
              <span v-if="viewsData?.newCount > 0"
                >+ {{ viewsData?.newCount }}</span
              >
            </p>
          </div>
          <div class="active-line" :class="{ active: tabs.views }"></div>
        </div>

        <component :is="activeTab"></component>
      </div>

      <div class="sidebar">
        <SpecialProposal />
      </div>
    </div>
  </section>
  <NotificationsMobile />
</template>

<style lang="scss">
#notifications {
  padding-left: 100px;
  margin: 0 auto;
  .grid {
    width: 100%;
    display: grid;
    grid-template-columns: minmax(860px, 1057px) minmax(300px, 376px);
    column-gap: 30px;
    align-items: center;
    .main-content {
      position: relative;
      background: rgba(196, 196, 196, 0.05);
      border: 1px solid rgba(255, 255, 255, 0.33);
      height: 100vh;
      .tab-header {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        position: absolute;
        top: 0;
        left: 0;
        padding: 70px 0 18px 0;
        background: rgba(196, 196, 196, 0.05);
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.3);
        z-index: 10;
        .tab {
          cursor: pointer;
          .title {
            font-size: 18px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.33);
          }
        }
        .tab.active {
          .title {
            font-size: 18px;
            font-weight: 600;
            color: #fff;
          }
        }
        .active-line {
          position: absolute;
          bottom: -1px;
          width: 50%;
          height: 2px;
          background: #fff;
          left: 0;
          transition: all 0.3s ease;
        }
        .active-line.active {
          transform: translateX(100%);
        }
      }
    }
    // .sidebar {
    // }
  }
}
@media (max-width: 1200px) {
  #notifications {
    display: none;
  }
}
</style>
