<script setup>
import { Navigation } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import {  computed } from 'vue'
import { useFavoritesStore } from '../store/favorites'
import PhotoSmallSliderItem from './PhotoSmallSliderItem.vue'

const photoData = computed(() => useFavoritesStore()?.photoList?.data?.list)

</script>

<template>
  <div class="slider__wrapper">
    <Swiper
      :modules="[Navigation]"
      :space-between="10"
      class="photo-small-slider"
      direction="vertical"
      :navigation="{
        nextEl: '.slider-nav.right',
      }"
      :breakpoints="{
        0: {
          slidesPerView: 4,
        },
        1200: {
          slidesPerView: 6,
        },
      }"
    >
      <svg
        class="slider-nav right"
        width="21"
        height="41"
        viewBox="0 0 21 41"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
          stroke="white"
          stroke-opacity="1"
          stroke-width="2"
        />
      </svg>
      <SwiperSlide v-for="item in photoData" :key="item.id">
        <PhotoSmallSliderItem :photo-data="item" />
      </SwiperSlide>
    </Swiper>
  </div>
</template>

<style lang="scss" scoped>
.slider-nav.right {
  position: absolute;
  right: -15px;
  top: 50%;
  margin-left: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1200px) {
    display: none;
  }
}
.photo-small-slider {
  display: flex;
  flex-direction: column;
  width: 404px;
  height: 328px;
  border-radius: 16px;
  @media (max-width: 1200px) {
    width: unset;
  }
}
</style>
