<script setup>
import { ref } from 'vue'
import { useStore } from '@/stores/main'
import { MainService } from '@/views/Main/services'
import { FavoritesService } from '../service'
import IconMessage from '@/assets/images/main/dialog-icon.svg'
import IconMessageGold from '@/assets/images/main/dialog-icon-gold.svg'
import IconStar from '@/assets/images/main/potencial-item-star.svg'
import IconStarGold from '@/assets/images/main/potencial-item-star-gold.svg'
import MobileSlideItem from '@/components/Search/MobileSlideItem.vue'
import ProfileNewMessage from '../../../components/Profile/ProfileNewMessage.vue'

const store = useStore()

const props = defineProps({
  item: {
    type: Object,
  },
})

const avatar = ref('')
const getImg = async () =>
  (avatar.value = await FavoritesService.avatarByUserId(props.item.userId, 1))
getImg()

const photos = ref([])
const getPhotoList = async () => {
  photos.value = await MainService.photoListByUserId(props.item.userId)
}
getPhotoList()

const openNewMess = () => {
  store.newMessageWindow = true
}

const clickHandler = async () => {
  await FavoritesService.setRemoveFavList(props.item.userId)
}
</script>

<template>
  <ProfileNewMessage v-if="store.newMessageWindow" :user-id="item.userId"/>

  <div
    class="potencial-item-mobile"
    :class="{ 'potencial-item-mobile--diamond': item.isDiamond }"
  >
    <div v-if="item.isDiamond" class="potencial-item-mobile__diamond">
      <img src="@/assets/images/diamond.svg" alt="" />
    </div>
    <div class="photo-block">
      <div class="photo-wrap">
        <router-link to="`/profile/234`">
          <img :src="avatar" alt="" class="photo" />
        </router-link>
      </div>
      <div v-if="true" class="mini-photo">
        <MobileSlideItem
          v-for="item in photos"
          :photos="item.id"
          :key="item"
          class="item"
        />
      </div>
    </div>
    <div class="title-block">
      <div class="name-block">
        <h2 class="name">
          {{ item.name }}, <span>{{ item.age }}</span> лет
        </h2>
        <p class="adress">{{ item.cityName }}</p>
      </div>
      <div class="icons-block">
        <div class="icon" @click="openNewMess()">
          <img :src="item.isDiamond ? IconMessageGold : IconMessage" alt="" />
        </div>
        <div class="icon" @click="clickHandler(item.userId)">
          <img :src="item.isDiamond ? IconStarGold : IconStar" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.potencial-item-mobile {
  position: relative;
  padding: 8px;
  padding-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 24px;
  margin-bottom: 24px;

  &--diamond {
    margin-top: 26px;
    border-color: #f9ae3f;

    & > .title-block > .icons-block > .icon {
      border-color: #f9ae3f !important;
    }
  }
}

.potencial-item-mobile__diamond {
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 120px;
  height: 26px;
  padding: 5px 12px 0 12px;
  border: 1px solid #f9ae3f;
  border-radius: 20px 20px 0 0;

  img {
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 84px;
  }
}

.potencial-item-mobile .photo-wrap {
  position: relative;
  width: 234px;
  height: 328px;
}
.potencial-item-mobile .photo-wrap .photo {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.potencial-item-mobile .photo-block {
  margin: 0 auto;
  width: 330px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.potencial-item-mobile .mini-photo > .item {
  position: relative;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  margin-bottom: 8px;
}
.potencial-item-mobile .mini-photo > .item > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.potencial-item-mobile .mini-photo {
  height: 328px;
  overflow-y: scroll;
  padding-right: 10px;
  margin-left: auto;
}
.potencial-item-mobile > .title-block {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.potencial-item-mobile > .title-block .name-block .name {
  font-size: 16px;
  font-weight: 700;
}
.potencial-item-mobile > .title-block .name-block .adress {
  font-size: 12px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.33);
}
.potencial-item-mobile > .title-block > .icons-block {
  display: flex;
  align-items: center;
  gap: 8px;
}
.potencial-item-mobile > .title-block > .icons-block > .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 40px;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.14);
}

.potencial-item-mobile {
  .mini-photo::-webkit-scrollbar {
    width: 2px;
  }
  .mini-photo::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.14);
  }
  .mini-photo::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.33);
  }
}
</style>
