<script setup>
import { FavoritesService } from '../service'
import { ref } from 'vue'

const userAvatar = ref('')

const getImg = async () => {
  userAvatar.value = await FavoritesService.avatarByUserId(
    props.favData.userId,
    1
  )
}
getImg()
// onUnmounted(async () => {
//   if (isActive.value) {
//     await FavoritesService.setRemoveFavList(props.favData.userId)
//   }

// })

const remove = async (userId) => {
  await FavoritesService.setRemoveFavList(userId)
}

const isActive = ref(false)

const props = defineProps({
  favData: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="favorite-item" :class="{ diamond: favData.isDiamond }">
    <router-link
      :to="{ name: 'Userprofile', params: { user: favData?.userId } }"
      class="favorite-item-link"
    >
      <div class="avatar">
        <div
          v-if="favData.isOnline"
          class="onlineDot"
          :class="{ diamond: favData.isDiamond }"
        ></div>
        <img :src="userAvatar" alt="" />
      </div>
    </router-link>
    <div class="about">
      <div class="name-block">
        <h5 class="name">{{ favData.name }}, {{ favData.age }}</h5>
        <p class="adress">{{ favData.cityName }}</p>
      </div>
      <button
        class="btn"
        :class="{ active: isActive }"
        @click="remove(props.favData.userId)"
      >
        <img src="@/assets/images/white-star.svg" alt="" class="white-icon" />
        <img src="@/assets/images/star-icon.svg" alt="" class="default-icon" />
        <img src="@/assets/images/star-gold.svg" alt="" class="gold-icon" />
      </button>
    </div>
  </div>
</template>

<style lang="scss">
.favorite-item {
  min-width: 240px;
  border-radius: 24px;
  outline: 1px solid #ffffff54;
  padding: 5px;
  padding-bottom: 12px;
  transition: all 0.2s ease;

  .avatar {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 230px;
    border: 1px solid #ffffff24;
    .onlineDot {
      height: 10px;
      width: 10px;
      background-color: #2965ff;
      position: relative;
      z-index: 99;
      border-radius: 50%;
      left: 210px;
      top: 10px;
      border: black 1px solid;
      &.diamond {
        background: linear-gradient(
          132.27deg,
          #f9ae3f -0.77%,
          #ffdba5 36.67%,
          #ad6902 96.37%
        );
      }
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
    }
  }
  .about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 12px;
    .name-block {
      .name {
        font-size: 16px;
        font-weight: 700;
      }
      .adress {
        font-size: 12px;
        font-weight: 600;
        opacity: 0.3;
      }
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 58px;
      height: 39px;
      border-radius: 14px;
      border: 1px solid #ffffff24;
      background: transparent;
      cursor: pointer;
      transition: all 0.1s ease;
      &.active {
        background: #2965ff;
      }
      .gold-icon {
        display: none;
      }
      .default-icon {
        display: none;
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
    .btn:hover {
      background: #2965ff;
    }
  }
}
.favorite-item:hover {
  outline: 2px solid #2965ff;
  box-shadow: 0px 4px 20px -12px rgba(70, 122, 255, 0.4);
}
.favorite-item.diamond:hover {
  box-shadow: 0px 0px 10px rgba(243, 170, 59, 0.8);
}
.favorite-item.diamond {
  &:hover {
    outline: 1px solid #f9ae3f;
  }
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 39px;
    border-radius: 14px;
    border: none;
    position: relative;
    background: linear-gradient(
      132.27deg,
      #f9ae3f -0.77%,
      #ffdba5 36.67%,
      #ad6902 96.37%
    );
    &.active {
      background: rgba(196, 196, 196, 0.05);
      border: 1px solid #f9ae3f;
      .default-icon {
        display: none;
      }
      .gold-icon {
        display: block;
      }
    }
    cursor: pointer;
    transition: all 0.1s ease;
    z-index: 0;
    img {
      width: 18px;
      height: 18px;
    }
    .default-icon {
      display: block;
    }
    .white-icon {
      display: none;
    }
    .gold-icon {
      display: none;
    }
  }
  .btn:hover {
    background: rgba(196, 196, 196, 0.05);
    border: 1px solid #f9ae3f;
    .default-icon {
      display: none;
    }
    .gold-icon {
      display: block;
    }
  }
}
</style>
