<script setup>
    import { FavoritesApi } from '../api'
    import { ref } from 'vue'
    const url = ref('')
    const getImg = async () =>
      (url.value = (await FavoritesApi.getUserPhoto(props.photoData.id)).data)
    getImg()
    
    const props = defineProps({
      photoData: {
        type: Object,
        required: true,
      },
    })
    </script>
    
    <template>
      <div class="small-photo">
        <img :src="url" alt="" class="image" />
      </div>
    </template>
    
    <style lang="scss" scoped>
    .small-photo {
      position: relative;
      width: 63px;
      height: 63px;
      .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }
    </style>
    