<script setup>
import { computed } from 'vue'
import router from '@/router'
import { useStore } from '@/stores/main'
import { useSearchStore } from '@/stores/search'
import { useUserStore } from '@/stores/user'
import { useDatabaseStore } from '@/stores/database'
import { useMainStore } from '@/views/Main/store/main'
import Statistics from '@/components/Cities/Statistics.vue'
import CitiesSmallSlider from '@/components/Cities/CitiesSmallSlider.vue'
import CitiesBigItems from '@/components/Cities/CitiesBigItems.vue'
import CitiesBigSlider from '@/components/Cities/CitiesBigSlider.vue'
import CitiesSearchMobInput from '@/components/Cities/CitiesSearchMobInput.vue'
import Filter from '@/components/Main/Filter.vue'

const store = useStore()
const searchStore = useSearchStore()
const userStore = useUserStore()
const databaseStore = useDatabaseStore()
const mainStore = useMainStore()

const usersStatistics = computed(() => mainStore.usersStatistics.data)

const usersStatisticsForBigSlider = computed(
  () => mainStore.usersStatistics.data?.byCities.slice(0, 3) || []
)

const usersStatisticsForSmallSlider = computed(
  () => mainStore.usersStatistics.data?.byCities.slice(3) || []
)

const currentCity = computed(() => userStore.userInfo.data?.city || null)

const cities = computed(() => {
  const userCountry = userStore.userInfo.data?.country || null

  if (userCountry === null) {
    return []
  }

  let countryIdx = 0

  databaseStore.countries.data.forEach((country, idx) => {
    if (country.id === userCountry.id) {
      countryIdx = idx
    }
  })

  return databaseStore.cities.data[countryIdx] || []
})

const redirectHandler = (params) => {
  searchStore.setQueryParams(params)

  router.push('/search')
}

const openCities = () => {
  store.showCities = !store.showCities
}
</script>

<template>
  <div class="cities-block">
    <Statistics
      v-if="usersStatistics !== null"
      :total-registered="usersStatistics.all"
      :men-registered="usersStatistics.allMen"
      :new-users="usersStatistics.newAtDay"
    />

    <div class="decor-line"></div>
    <!-- На мобильном  -->
    <CitiesBigSlider
      v-if="usersStatisticsForBigSlider.length"
      :users-statistics="usersStatisticsForBigSlider"
      @redirect="redirectHandler($event)"
    />

    <CitiesSearchMobInput @redirect="redirectHandler($event)" />
    <!-- На десктопе -->
    <CitiesBigItems
      v-if="usersStatisticsForBigSlider.length"
      :users-statistics="usersStatisticsForBigSlider"
      @redirect="redirectHandler($event)"
    />

    <div
      v-if="usersStatisticsForSmallSlider.length"
      class="hidden-part"
      :class="{ show: store.showCities }"
    >
      <p class="title">Зарегистрировано по городам</p>
      <div class="grid">
        <div class="slider">
          <CitiesSmallSlider
            :users-statistics="usersStatisticsForSmallSlider"
            @redirect="redirectHandler($event)"
          />
        </div>
      </div>
    </div>

    <button
      v-if="usersStatisticsForSmallSlider.length"
      class="all-cities"
      @click="openCities()"
    >
      {{ store.showCities ? 'Скрыть' : 'Все города' }}
    </button>
  </div>

  <Filter
    v-if="cities.length"
    :current-city="currentCity"
    :cities="cities"
    @redirect="redirectHandler($event)"
  />
</template>

<style>
.cities-block {
  border: 1px solid rgba(255, 255, 255, 0.14);
  padding: 24px;
  border-radius: 40px;
  position: relative;
}

.cities-block > .decor-line {
  width: 100%;
  background: rgba(255, 255, 255, 0.14);
  height: 1px;
  margin: 16px 0;
}
.cities-block .all-cities {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  background: #2c66fa;
  border-radius: 0px 0px 18px 18px;
  width: 115px;
  height: 24px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  color: #fff;
}

.cities-block .hidden-part {
  margin-top: 0;
  transition: max-height 0.2s ease;
  max-height: 0;
  overflow: hidden;
}

.cities-block .hidden-part.show {
  max-height: 500px;
  margin-top: 24px;
  overflow: visible;
}

.cities-block .hidden-part.show > .title {
  opacity: 1;
  transition: 0.5s ease;
}

.cities-block .hidden-part > .title {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 16px;
  opacity: 0;
}

.hidden-part .grid {
  display: grid;
  /* grid-template-columns: 1fr 370px; */
  grid-template-columns: 1fr;
}

.hidden-part .slider {
  overflow: hidden;
  padding-right: 50px;
}

@media (max-width: 1200px) {
  .cities-block {
    padding: 0;
    border: none;
  }
  .cities-block .all-cities {
    display: none;
  }
  .cities-block .hidden-part {
    display: none;
  }
}
</style>
