<script setup>
import { computed } from 'vue'
import { useRouter } from 'vue-router'
import UiBackLink from '@/ui/UiBackLink'

const router = useRouter()

if (router.currentRoute.value.name === 'Forgot password') {
  router.push({ name: 'Forgot password first' })
}

const isBackLink = computed(() => router.currentRoute?.value?.meta?.isBack)

const backLinkClickHandler = () => {
  router.go(-1)
}
</script>

<template>
  <div class="forgot-password">
    <div class="forgot-password__animation-ball"></div>
    <div class="forgot-password__animation-ball right"></div>

    <div v-if="isBackLink" class="forgot-password__back-link">
      <UiBackLink @click="backLinkClickHandler()" />
    </div>

    <div class="forgot-password__view">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.forgot-password {
  position: relative;
  z-index: 1;

  &__animation-ball {
    width: 100px;
    height: 100px;
    background-color: rgb(43, 102, 251);
    border-radius: 70%;
    box-shadow: 0 0 90px 180px rgba(41, 102, 255), 0 0 150px 310px #2966ff57,
      0 0 210px 360px #2966ff1c;
    position: fixed;
    animation-name: verticalSlideLeft;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    left: -150px;

    &.right {
      left: unset;
      right: -150px;
      bottom: 0;
      animation-name: verticalSlideRight;
      animation-duration: 7s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
    }
  }

  &__back-link {
    position: fixed;
    top: 70px;
    left: 40px;
    z-index: 5;
  }
}

@keyframes verticalSlideLeft {
  from {
    margin-top: 0%;
  }
  to {
    margin-top: 50%;
  }
}
@keyframes verticalSlideRight {
  from {
    margin-bottom: 5%;
  }
  to {
    margin-bottom: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .forgot-password {
    padding: 0 20px;

    &__back-link {
      top: 54px;
      left: 13px;
    }
  }
}
</style>
