<script setup>
import { ref, watch, computed } from 'vue'
import { useForgotPasswordStore } from '../../store/forgotPassword'
import { ForgotPasswordService } from '../../services'
import StartForm from '@/components/StartForm'
import UiButton from '@/ui/UiButton'
import UiTextLink from '@/ui/UiTextLink'
import UiInput from '@/ui/UiInput'
import UiErrorMessage from '@/ui/UiErrorMessage'

const forgotPasswordStore = useForgotPasswordStore()

const isAnimate = ref(false)

const email = ref('')

const emailError = ref(false)
const errorMessage = ref('')

const isLoading = computed(() => forgotPasswordStore.restore.isLoading)

const restoreError = computed(() => forgotPasswordStore.restore.error)

watch(isAnimate, () => {
  if (isAnimate.value) {
    stopAnimateByTimeout()
  }
})

watch(email, () => {
  if (email.value.length) {
    emailError.value = false
    errorMessage.value = ''
  }
})

const buttonClickHandler = async () => {
  if (!email.value.length) {
    emailError.value = true
    errorMessage.value = 'Введите email'

    return
  }

  await ForgotPasswordService.restore(email.value)
}

const startAnimate = () => {
  isAnimate.value = true
}

const stopAnimateByTimeout = () => {
  setTimeout(() => {
    isAnimate.value = false
  }, 700)
}
</script>

<template>
  <div class="first">
    <div class="first__form">
      <StartForm
        title="Забыли пароль?"
        description="Введите электронную почту или номер телефон. Мы отправим вам код для восстановления пароля."
        :animate="isAnimate"
      >
        <div class="first__block">
          <div class="first__input">
            <UiInput
              v-model:value="email"
              type="text"
              placeholder="Электронная почта"
              :error="emailError"
              @focus="startAnimate()"
            />
          </div>

          <div v-if="emailError || restoreError?.status" class="first__error">
            <UiErrorMessage :message="errorMessage || restoreError?.message" />
          </div>
        </div>
      </StartForm>
    </div>

    <div class="first__button">
      <UiButton
        title="Отправить"
        size="big"
        :is-loading="isLoading"
        @click="buttonClickHandler()"
      />
    </div>

    <div class="first__auth">
      <UiTextLink answer="Вспомнили пароль?" link="Войти" to="/auth" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.first {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  &__form {
    margin-top: 350px;
  }

  &__button {
    margin-top: 157px;
  }

  &__auth {
    margin: 24px 0 101px 0;
  }

  &__input {
    margin-top: 16px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__error {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .first {
    &__form {
      width: 100%;
      margin-top: 166px;
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 24px;
    }

    &__auth {
      margin: 48px 0;
    }
  }
}
</style>
