<script setup>
import { useUserProfileStore } from './store/userProfile'
import { ProfileService } from './service'
import ProfileNewMessage from '@/components/Profile/ProfileNewMessage.vue'
import ProfilePopupMore from './components/popup/ProfilePopupMore.vue'
import { ref, computed, onMounted } from 'vue'
import { useStore } from '@/stores/main.js'
import { useRoute } from 'vue-router'
import FormatDatingList from '../MyProfile/components/FormatDatingList.vue'
import LangList from '../MyProfile/components/LangList.vue'
import HobbyList from '../MyProfile/components/HobbyList.vue'
import CarouselProfile from './components/CarouselProfile.vue'
import digitCapacity from '../../use/digitCapacity'
import UserPhotoCarousel from '../../components/Profile/UserPhotoCarousel.vue'

const route = useRoute()

const pageId = route.params.user

const profileData = computed(() => useUserProfileStore().profileInfo?.data)

const userAvatar = ref('')

const getImg = async () => {
  userAvatar.value = await ProfileService.avatarByUserId(
    profileData?.value.id,
    1
  )
}

const addToFavorite = async (id) => {
  await ProfileService.setFavorite(id)
}

const addLike = async (id) => {
  await ProfileService.setLike(id)
}

const store = useStore()

const modalOpen = () => {
  store.GalleryIsOpen = true
}



onMounted(async () => {
  await ProfileService.getProfileInfo(pageId)

  await getImg()
})

const showModalMore = ref(false)
const notificationStatus = false
const notificationStageTwo = false
const notificationStageThree = false
const notificationStageFour = false
const notificationStageFive = false

const attitude = {
  1: 'Негативное',
  2: 'Нейтральное',
  3: 'Положительное',
}

const sex = computed(() => profileData.value?.sex)
const femalePage = computed(() => {
  if (sex.value === 1) {
    return false
  }
  return true
})

const statusDiamond = computed(() => profileData.value?.diamond)
</script>

<template>
  <UserPhotoCarousel v-if="store.GalleryIsOpen" />
  <ProfileNewMessage v-if="store.newMessageWindow" />
  <div class="profile__page"  >
    <div class="nav__box">
      <router-link to="/">
        <div class="auth__back__btn">
          <img src="@/assets/images/main/auth__back__arrow.svg" alt="" />
          <h1 class="auth__back__btn__title">Назад</h1>
        </div>
      </router-link>
      <div class="user__id">ID:{{ profileData?.shortId }}</div>
      <div class="more_mobile">
        <img src="@/assets/images/main/btn_more.svg" alt="" />
      </div>
    </div>
    <div class="left__side">
      <div class="background">
        <ProfilePopupMore
          v-if="showModalMore"
          @hide-modal-more="showModalMore = false"
        />
        <div v-if="statusDiamond" class="diamond__title">diamond</div>
        <div
          class="photo"
          :class="{
            notification__unblur: notificationStatus,
            diamond: statusDiamond,
          }"
        >
          <img :src="userAvatar" alt="" class="main__avatar" />
        </div>
        <div class="profile__info__list__carousel mobile">
          <CarouselProfile @click="modalOpen()"/>
        </div>
        <div
          class="notification__stage__two__desc"
          :class="{ stageTwo: notificationStageTwo }"
        >
          <p>
            Вы можете сразу написать пользователю, а можете “лайкнуть” его
            выкосаз симпатию либо сохранитьего анкету себе в “Избранное” нажав
            на соответсювущую кнопку.
          </p>
        </div>
        <div
          class="stage__three__block"
          :class="{ stageThree: notificationStageThree }"
        >
          <div class="notification__stage__three__desc">
            <div class="text__box">
              <p>
                Нажав на “троеточие” вы можете вызвать окно допольнительных
                функций:
              </p>
              <p>
                - <span>Поделиться</span> - после чего ссылка на профиль будет
                скопирована в Ваш буфер обмена.
              </p>
              <p>
                - <span>Скрыть</span> - анкета пользователя больше не будет вам
                показана в результата поиска.
              </p>
              <p>
                - <span>Заблокировать</span> - заблокирует возможность
                пользователю написать Вам.
              </p>
              <p>
                - <span>Пожаловаться</span> - позволит пожаловаться модератору
                на пользователя.
              </p>
            </div>
          </div>
          <div class="notification__stage__three__moremenu">
            <div class="moremenu__block">
              <img src="../../assets/images/main/share.svg" alt="" />
              <p>Поделиться</p>
            </div>
            <div class="moremenu__block">
              <img src="../../assets/images/main/hide.svg" alt="" />
              <p>Скрыть</p>
            </div>
            <div class="moremenu__block">
              <img src="../../assets/images/main/ban.svg" alt="" />
              <p>Заблокировать</p>
            </div>
            <div class="moremenu__block last">
              <img src="../../assets/images/main/report.svg" alt="" />
              <p>Пожаловаться</p>
            </div>
          </div>
        </div>
        <div class="page__footer__carousel">
          <div class="profile__info__list__carousel">
            <CarouselProfile />
          </div>
          <div
            class="buttons__block"
            :class="{
              notification__unblur: notificationStatus,
              stageTwo: notificationStageTwo,
            }"
          >
            <div class="inner__buttons__block">
              <div class="big__buttons">
                <div
                  class="send__message"
                  @click.prevent="store.newMessageWindow = true"
                >
                  Написать
                </div>
                <div class="icon__btn" @click="addToFavorite(profileData?.id)">
                  <img src="@/assets/images/main/star.svg" alt="" />
                </div>
                <div class="icon__btn" @click="addLike(profileData?.id)">
                  <img src="@/assets/images/main/heart.svg" alt="" />
                </div>
              </div>
              <div class="more" @click="showModalMore = true">
                <img src="@/assets/images/main/btn_more.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right__side">
      <div class="profile" @click.self="close()">
        <div
          class="profile__info"
          :class="{ notification__unblur: notificationStatus }"
        >
          <div class="profile__info__title">
            <div class="profile__title">
              <div class="profile__name">{{ profileData?.name }}</div>
              <div v-if="statusDiamond" class="gradient">
                <div class="status__premium">
                  <span>DIAMOND</span>
                </div>
              </div>
            </div>
            <div class="profile__subtext">
              <div class="profile__location">{{ profileData?.city?.name }}</div>
              <div class="profile__vertical__line">|</div>
              <div class="profile__age">{{ profileData?.age }}</div>
              <div class="profile__vertical__line">|</div>
              <div class="profile__online__id">
                <span>ID: {{ profileData?.shortId }}</span>
              </div>
              <div class="profile__vertical__line web">|</div>
              <div
                class="profile__online__status real"
                :class="{ diamond__status: statusDiamond }"
              >
                <span v-if="profileData?.online">Онлайн</span>
                <span v-if="!profileData?.online" class="offline">Не в сети</span>

              </div>
            </div>
          </div>
          <div class="buttons__block mobile">
            <div class="inner__buttons__block">
              <div class="big__buttons">
                <div
                  class="send__message"
                  :class="{ diamond__mobile__send: statusDiamond }"
                  @click.prevent="store.newMessageWindow = true"
                >
                  Написать
                </div>
                <div
                  class="icon__btn"
                  :class="{ diamond__mobile: statusDiamond }"
                >
                  <img
                    src="@/assets/images/main/heart.svg"
                    width="17"
                    height="20"
                    alt=""
                    @click="addLike(profileData?.userId)"
                  />
                  <div class="vertical__line"></div>
                  <img
                    src="@/assets/images/main/star.svg"
                    width="19"
                    height="20"
                    alt=""
                    @click="addToFavorite(profileData?.userId)"
                  />
                </div>
              </div>
            </div>
          </div>
          <img
            class="down__arrow"
            src="../../assets/images/main/profile__mobile__down.svg"
            alt=""
          />
          <div class="profile__info__filter">
            <div class="profile__info__filter__block">
              <div class="profile__info__filter__icon">
                <img src="@/assets/images/main/description.svg" alt="" />
              </div>
              <div class="profile__info__filter__description">
                Формат знакомств:
              </div>
              <div class="mobile__horizontal__line"></div>
            </div>
            <div class="profile__info__filter__tags__block">
              <FormatDatingList :all-format-data="profileData?.datingFormat" />
            </div>
          </div>
          <div class="profile__info__list__container">
            <div class="profile__info__list">
              <div class="mobile__more__info__title first">
                <p>Подробная информация</p>
                <div class="mobile__horizontal__line"></div>
              </div>
              <!-- <div class="profile__info__list__stats">
                <div class="info__list__box">
                  <div class="profile__info__list__icon">
                    <img src="@/assets/images/main/nation.svg" alt="" />
                  </div>
                  <div class="profile__info__list__title">Национальность:</div>
                </div>
                <div class="profile__info__list__status">
                  {{ profileData?.nationality?.name }}
                </div>
              </div> -->
              <div class="profile__info__list__stats">
                <div class="info__list__box">
                  <div class="profile__info__list__icon">
                    <img src="@/assets/images/main/money.svg" alt="" />
                  </div>
                  <div v-if="!femalePage" class="profile__info__list__title">
                    Доход в месяц:
                  </div>
                  <div v-if="femalePage" class="profile__info__list__title">
                    Трачу в месяц:
                  </div>
                </div>
                <div class="profile__info__list__status">
                  {{ digitCapacity(profileData?.monthMoney / 100) }} ₽
                </div>
              </div>
              <div class="profile__info__list__stats">
                <div class="info__list__box">
                  <div class="profile__info__list__icon">
                    <img src="@/assets/images/main/alcohol.svg" alt="" />
                  </div>
                  <div class="profile__info__list__title">
                    Отношение к алкоголю:
                  </div>
                </div>
                <div class="profile__info__list__status">
                  {{ attitude[profileData?.alcohol] }}
                </div>
              </div>
              <div class="profile__info__list__stats">
                <div class="info__list__box">
                  <div class="profile__info__list__icon">
                    <img src="@/assets/images/main/smoke.svg" alt="" />
                  </div>
                  <div class="profile__info__list__title">
                    Отношение к курению:
                  </div>
                </div>
                <div class="profile__info__list__status">
                  {{ attitude[profileData?.smoke] }}
                </div>
              </div>
              <div class="profile__info__list__stats">
                <div class="info__list__box">
                  <div class="profile__info__list__icon">
                    <img src="@/assets/images/main/language.svg" alt="" />
                  </div>
                  <div class="profile__info__list__title">Знание языков:</div>
                </div>
                <div class="profile__info__list__status">
                  <LangList :all-lang-data="profileData?.languages" />
                </div>
              </div>
            </div>
            <div class="profile__horizontal__line"></div>
            <div class="mobile__more__info__title">
              <p>Основное</p>
              <div class="mobile__horizontal__line main"></div>
            </div>
            <div class="main__heightweight">
              <div class="profile__info__list__heightweight">
                <div class="profile__info__list__height__block">
                  <div class="profile__info__list__height">Рост:</div>
                  <div class="profile__info__list__height__stat">
                    {{ profileData?.height }}
                  </div>
                </div>
                <div class="profile__info__list__weight__block">
                  <div class="profile__info__list__weight">Вес:</div>
                  <div class="profile__info__list__weight__stat">
                    {{ profileData?.weight }}
                  </div>
                </div>
              </div>
              <div v-if="femalePage" class="female__version">
                <div class="profile__info__list__weight">Параметры:</div>
                <div class="profile__info__list__weight__stat">90/60/90</div>
              </div>
            </div>
            <div class="profile__horizontal__line"></div>
            <div class="profile__info__list__hobby__block">
              <div class="profile__info__list__hobby">Увлечения:</div>
              <div class="profile__info__list__hobby__item">
                <HobbyList :all-hobby-data="profileData?.hobbies" />
              </div>
            </div>
            <div class="mobile__more__info__title">
              <p>Увлечения</p>
              <div class="mobile__horizontal__line hobby"></div>
            </div>
            <div class="hobby__chips__box">
              <HobbyList :all-hobby-data="profileData?.hobbies" />
            </div>
            <div class="profile__horizontal__line"></div>
            <div class="profile__info__list__about__block">
              <p class="profile__info__list__about">
                О себе:
                <span class="profile__info__list__about__description">{{
                  profileData?.about
                }}</span>
              </p>
            </div>
            <div class="mobile__more__info__title">
              <p>О себе</p>
              <div class="mobile__horizontal__line about"></div>
            </div>
            <div class="mobile__about__desc">
              <p>
                {{ profileData?.about }}
              </p>
            </div>
          </div>
          <div
            class="carousel__notification__block"
            :class="{ stageFour: notificationStageFour }"
          >
            <div class="carousel__notification__text">
              <p>
                Нажатие на любое из изображений в мини-галерее вывед вам его в
                большой галерее с возможностью посмотреть и другие фотографии в
                полный экран.
              </p>
            </div>
            <div class="profile__info__list__carousel">
              <div class="profile__mini__avatar">
                <img
                  src="../../assets/images/main/woman__mini__avatar1.png"
                  alt=""
                />
              </div>
              <div class="profile__mini__avatar">
                <img
                  src="../../assets/images/main/woman__mini__avatar1.png"
                  alt=""
                />
              </div>
              <div class="profile__mini__avatar">
                <img
                  src="../../assets/images/main/woman__mini__avatar1.png"
                  alt=""
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="logo__title">
        <h1>REDATE</h1>
      </div>
    </div>
  </div>
  <div class="gallery_preview" :class="{ stageFive: notificationStageFive }">
    <ProfilePhotoCarousel />
  </div>
  <div
    class="notification__blur"
    :class="{
      notification__unblur: notificationStatus,
      stageTwo: notificationStageTwo,
      stageThree: notificationStageThree,
      stageFour: notificationStageFour,
    }"
  >
    <div
      class="unblured__border"
      :class="{
        notification__unblur: notificationStatus,
        stageTwo: notificationStageTwo,
        stageThree: notificationStageThree,
        stageFour: notificationStageFour,
        stageFive: notificationStageFive,
      }"
    >
      <p>
        Анкета - страница пользователя противоположного пола где вы можете
        ознакомитсья с его анкетными данными.
      </p>
      <div class="notification__btn__block">
        <div class="noti__btn">Пропустить знакомство</div>
        <div class="noti__btn blue">Продолжить <span>(1 из 5)</span></div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.text {
  font-weight: 600;
  font-size: 15px;

  // line-height: 153.5%;
}
.offline {
  color: rgba(255, 255, 255, 0.33);
}
.profile__page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.gallery_preview {
  display: none;
  width: 100%;
  height: 100%;
  &.stageFive {
    display: flex;
    position: relative;
    z-index: 100;
  }
}
.profile__title {
  display: flex;
  align-items: center;
}
.notification__blur {
  width: 100%;
  height: 100%;
  background: rgba(36, 37, 41, 0.6);
  backdrop-filter: blur(6px);
  position: fixed;
  left: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notification__blur {
  display: none;
  &.notification__unblur {
    display: flex;
  }
  &.stageTwo {
    display: flex;
  }
  &.stageThree {
    display: flex;
  }
  &.stageFour {
    display: flex;
  }
  &.stageFive {
    display: flex;
  }
}
.carousel__notification__block {
  display: none;
  &.stageFour {
    position: absolute;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 653px;
    right: 209px;
  }
  .carousel__notification__text {
    width: 530px;
    height: 107px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #ffffff;
    backdrop-filter: blur(50px);
    border-radius: 11px;
    margin-bottom: 29px;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 153.5%;
      margin: 24px 37px 27px 21px;
    }
  }
}
.page__footer__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unblured__border {
  width: 83%;
  height: 880px;
  background: #c4c4c4;
  border-radius: 24px;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.4);
  position: absolute;
  left: 200px;
  top: 50px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  display: none;
  &.notification__unblur {
    display: flex;
  }
  &.stageTwo {
    display: flex;
    background: none;
    border: none;
    p {
      display: none;
    }
    .notification__btn__block {
      justify-content: end;
      width: 100%;
    }
  }
  &.stageThree {
    display: flex;
    background: none;
    border: none;
    p {
      display: none;
    }
    .notification__btn__block {
      justify-content: end;
      width: 100%;
    }
  }
  &.stageFour {
    display: flex;
    background: none;
    border: none;
    p {
      display: none;
    }
    .notification__btn__block {
      justify-content: end;
      width: 100%;
    }
  }
  &.stageFive {
    display: flex;
    background: none;
    border: none;
    p {
      display: none;
    }
    .notification__btn__block {
      justify-content: end;
      width: 100%;
    }
  }
  p {
    position: relative;
    top: 33px;
  }
  .notification__btn__block {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 40px;
    .noti__btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 7px 13px;
      gap: 10px;
      width: 204px;
      height: 33px;
      border: 1px solid rgba(255, 255, 255, 0.14);
      border-radius: 11px;
      font-weight: 700;
      font-size: 14px;
      line-height: 132.5%;
      color: #ffffff;
      margin-left: 12px;
      span {
        color: rgba(255, 255, 255, 0.6);
      }
      &.blue {
        width: 193px;
        height: 32px;
        background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
        border-radius: 11px;
      }
    }
  }
}
.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Palatino';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 132.5%;
  letter-spacing: 0.19em;
  text-transform: uppercase;
  background: linear-gradient(
    132.27deg,
    #f9ae3f -0.77%,
    #ffdba5 36.67%,
    #ad6902 96.37%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.gradient:before {
  background: linear-gradient(
    103.31deg,
    #b3854d 5.67%,
    #f3d7af 28.06%,
    #c6a47c 85.27%
  );
}
.gradient:before {
  content: '';
  width: 140px;
  height: 30px;
  position: absolute;
  border-radius: 12px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff, #fff 0) content-box,
    linear-gradient(#fff, #fff 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
.status__premium {
  margin-top: 4px;
  margin-left: 3px;
}

.notification__btn__border {
  position: relative;
  z-index: 100;
}
.notification__stage__two__desc {
  width: 790px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  border-radius: 11px;
  position: fixed;
  top: 720px;
  left: 280px;
  display: none;
  z-index: 100;
  p {
    margin: 23px 46px 23px 39px;
    font-weight: 500;
    font-size: 14px;
    line-height: 153.5%;
    color: #ffffff;
  }
  &.stageTwo {
    display: block;
  }
}
.stage__three__block {
  position: absolute;
  z-index: 100;
  top: 580px;
  left: 280px;
  display: none;
  &.stageThree {
    display: flex;
  }
}
.notification__stage__three__desc {
  width: 409px;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid #ffffff;
  backdrop-filter: blur(50px);
  border-radius: 11px;
  margin-right: 35px;

  .text__box {
    margin: 20px 32px 20px 32px;
  }
  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 153.5%;
    margin-bottom: 8px;
    span {
      font-weight: 700;
    }
  }
}
.notification__stage__three__moremenu {
  position: relative;
  top: 50px;
  background: rgba(40, 41, 45, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  width: 246px;
  height: 213px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .moremenu__block {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    height: 52px;
    align-items: center;

    img {
      margin-left: 29px;
      margin-right: 12px;
    }
    &.last {
      border-bottom: none;
    }
  }
}
.more {
  margin-top: 6px;
  img {
    cursor: pointer;
  }
}
.left__side {
  // width: 1048px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 75px;
}
.right__side {
  // width: 688px;

  .profile {
    .profile__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      // justify-content: space-between;
      // width: 488px;
      height: 833px;
      &.notification__unblur {
        position: relative;
        z-index: 100;
      }
      .buttons__block {
        display: none;
      }
      .profile__info__list__container {
        // width: 488px;
      }
    }
  }
}
// .photo__container {
//   width: 608px;
//   height: 816px;
//   border: 1px solid rgba(255, 255, 255, 0.33);
//   filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
//   border-radius: 24px;
// }
.background {
  // max-width: 817px;
  height: 100%;
  padding: 50px;
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-bottom: none;
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttons__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 7px 8px;
  position: relative;
  width: 416px;
  height: 68px;
  top: -35px;
  border-radius: 26px;
  &.notification__unblur {
    z-index: 100;
  }
  &.stageTwo {
    z-index: 100;
  }
  .inner__buttons__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 405px;
    height: 54px;
    .big__buttons {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      width: 369px;
      height: 56px;
      .send__message {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 241px;
        height: 56px;
        background: rgba(255, 255, 255, 0.14);
        border: 1px solid rgba(255, 255, 255, 0.33);
        border-radius: 18px;
        cursor: pointer;
      }
      .icon__btn {
        width: 56px;
        height: 56px;
        background: rgba(255, 255, 255, 0.14);
        border: 1px solid rgba(255, 255, 255, 0.33);
        border-radius: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}
.profile {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.down__arrow {
  display: none;
}
.photo {
  width: 608px;
  height: 770px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
  border-radius: 24px;
  display: flex;
  margin-top: 50px;
  &.diamond {
    border: none;
  }
  &.notification__unblur {
    position: relative;
    z-index: 100;
  }
}
.diamond:before {
  background: linear-gradient(
    103.31deg,
    #f9ae3f 100%,
    #ffdba5 100%,
    #ad6902 100%
  );
}
.diamond:before {
  content: '';
  width: 607px;
  height: 769px;
  position: absolute;
  border-radius: 24px;
  padding: 1px;
  -webkit-mask: linear-gradient(#fff, #fff 0) content-box,
    linear-gradient(#fff, #fff 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.profile__name {
  @extend .text;
  margin-right: 114px;
  font-weight: 500;
  font-size: 48px;
  margin-bottom: 3px;
}
.profile__subtext {
  height: 23px;
  display: flex;
  align-items: baseline;
}
.profile__location {
  @extend .text;
  color: rgba(255, 255, 255, 0.45);
}
.profile__vertical__line {
  @extend .text;
  width: 5px;
  height: 21px;
  color: rgba(255, 255, 255, 0.33);
  margin: 0 12px 0 12px;
}
.profile__horizontal__line {
  width: 422px;
  border: 1px solid rgba(255, 255, 255, 0.33);
  margin-bottom: 18px;
  margin-top: 18px;
}
.hobby__chips__box {
  display: none;
}
.mobile__more__info__title {
  display: none;
}
.mobile__about__desc {
  display: none;
}
.nav__box {
  display: none;
}
.profile__info__filter__block {
  display: flex;
  align-items: center;
  margin-bottom: 16px
}
.profile__online__id {
  @extend .text;
  color: rgba(255, 255, 255, 0.45);
}
.profile__online__status {
  @extend .text;
  color: #2965ff;
}
.profile__info__filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 382px;
  height: 121px;
  margin: 48px 0 48px 0;
}
.profile__info__filter__icon {
  margin-right: 12px;
  cursor: pointer;
}
.profile__info__filter__description {
  @extend .text;
  color: rgba(255, 255, 255, 0.33);
  margin-right: 8px;
}
.profile__info__filter__tags__block {
  width: 467px;
  height: 82px;
  display: flex;
  flex-wrap: wrap;
}
.profile__info__filter__tag {
  @extend .text;
  height: 35px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  box-shadow: 0px 4px 20px -12px rgba(70, 122, 255, 0.4);
  border-radius: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 132.5%;
  margin-right: 12px;
  border: #2965ff 1px solid;
}
.profile__info__list__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(15px);
  border-radius: 24px;
}
.profile__info__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 422px;
}
.main__avatar {
  width: 608px;
  height: 770px;
  // border: 1px solid rgba(255, 255, 255, 0.33);
  // filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
  border-radius: 24px;
}

.profile__info__list__stats {
  display: flex;
  @extend .text;
  color: rgba(255, 255, 255, 0.33);
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.info__list__box {
  display: flex;
  align-items: center;
}
.profile__info__list__icon {
  margin-right: 12px;
}
.profile__info__list__title {
  display: flex;
  margin-right: 8px;
}
.profile__info__list__status {
  color: #ffffff;
}
.main__heightweight {
  display: flex;
  justify-content: space-between;
  // width: 409px;
  .female__version {
    display: flex;
  }
}
.profile__info__list__heightweight {
  display: flex;
  width: 188px;
  height: 23px;
  justify-content: space-between;
}
.profile__info__list__height__block {
  display: flex;
}
.profile__info__list__height {
  display: flex;
  @extend .text;
  color: rgba(255, 255, 255, 0.33);
}
.profile__info__list__height__stat {
  margin-left: 8px;
}
.profile__info__list__weight__block {
  display: flex;
}
.profile__info__list__weight {
  display: flex;
  @extend .text;
  color: rgba(255, 255, 255, 0.33);
  margin-right: 8px;
}
.profile__info__list__hobby__block {
  display: flex;
  flex-wrap: nowrap;
  width: 422px;
}
.profile__info__list__hobby {
  @extend .text;
  display: flex;
  color: rgba(255, 255, 255, 0.33);
  margin-right: 8px;
}
.profile__info__list__about__block {
  display: flex;
  width: 422px;
}
.profile__info__list__about {
  @extend .text;

  display: inline-block;
  color: rgba(255, 255, 255, 0.33);
  margin-right: 8px;
}
.profile__info__list__about__description {
  color: #ffffff;
}
.profile__info__list__carousel {
  display: flex;
  align-items: center;
  width: 413px;
  height: 79px;
  backdrop-filter: blur(16px);
  background: rgba(40, 37, 42, 0.2);
  // border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  position: relative;
  top: -40px;
  &.stageFour {
    position: relative;
    z-index: 100;
  }
  &.mobile {
    display: none;
  }

  .profile__mini__avatar {
    width: 54px;
    height: 54px;
    margin-left: 12px;
    display: flex;
    align-items: center;
  }
}
.logo__title {
  display: none;
}
.diamond__title {
  display: none;
}
@media (max-width: 1200px) {
  .gradient {
    display: none;
  }
  .profile__info__filter {
    width: 335px;
  }
  .profile__info__filter__block {
    margin-bottom: 16px;
  }
  .profile__page {
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin-top: 48px;
    .nav__box {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      width: 335px;
      .user__id {
        font-weight: 700;
        font-size: 14px;
        line-height: 132.5%;
        color: rgba(255, 255, 255, 0.6);
        margin: 0 107px 0 63px;
      }
      .more_mobile {
        transform: rotate(90deg);
        width: 24px;
        height: 24px;
        margin-bottom: 12px;
      }
      .auth__back__btn {
        align-items: center;
        display: flex;
        img {
          width: 24px;
          height: 24px;
        }
        h1 {
          font-weight: 700;
          font-size: 14px;
          line-height: 132.5%;
        }
      }
    }
    .left__side {
      width: 335px;
      flex-direction: column;
      padding: 0;
      .background {
        padding: 0;
        .page__footer__carousel {
          display: none;
        }
        .profile__info__list__carousel {
          display: flex;
          position: relative;
          width: 311px;
          height: 76px;
          left: 0px;
          background: rgba(255, 255, 255, 0.05);
          backdrop-filter: blur(50px);
          border-radius: 24px;
          justify-content: center;
        }
        background: none;
        border: none;
        width: 335px;
        .diamond__title {
          font-family: 'Palatino';
          font-style: normal;
          font-weight: 400;
          font-size: 9px;
          line-height: 132.5%;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          letter-spacing: 0.19em;
          text-transform: uppercase;
          background: linear-gradient(
            132.27deg,
            #f9ae3f -0.77%,
            #ffdba5 36.67%,
            #ad6902 96.37%
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
          text-shadow: 0px 0px 10px rgba(255, 187, 84, 0.3);
        }
        .diamond__title:before {
          background: linear-gradient(
            103.31deg,
            #f9ae3f 100%,
            #ffdba5 100%,
            #ad6902 100%
          );
        }
        .diamond__title:before {
          content: '';
          width: 82px;
          height: 17px;
          position: absolute;
          border-radius: 12px 12px 0px 0px;
          padding: 1px;
          -webkit-mask: linear-gradient(#fff, #fff 0) content-box,
            linear-gradient(#fff, #fff 0);
          -webkit-mask: linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
        .photo {
          border: #2965ff 1px solid;
          width: 335px;
          height: 462px;
          display: flex;
          border-radius: 24px;
          margin-top: 0;
          &.diamond {
            border: none;
          }
        }
        .diamond:before {
          width: 100%;
          height: 100%;
        }

        .main__avatar {
          max-width: 100%;
          height: 100%;
          border-radius: 24px;
          object-fit: cover;
        }
        .buttons__block {
          display: none;
        }
      }
    }
    .right__side {
      width: 335px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .logo__title {
        display: contents;
        h1 {
          font-family: 'Myanmar MN';
          font-style: normal;
          font-weight: 400;
          font-size: 4.1vw;
          line-height: 153.5%;
          letter-spacing: 0.245em;
          color: #ffffff;
          margin-bottom: 6.41vw;
          margin-top: 23.07vw;
        }
      }
      .profile {
        background: none;
        .profile__info {
          align-items: center;
          height: unset;
          .buttons__block {
            &.mobile {
              display: flex;
              background: none;
              border: none;
              backdrop-filter: none;
              box-shadow: none;
              position: unset;
              width: 335px;
              align-items: center;
              padding: 0;
              height: unset;
              margin-bottom: 21px;
              .inner__buttons__block {
                width: 335px;
              }
              .send__message {
                width: 224px;
                height: 56px;
                border-radius: 18px;
                &.diamond__mobile__send {
                  border: none;
                }
              }
              .diamond__mobile__send:before {
                background: linear-gradient(
                  103.31deg,
                  #f9ae3f 100%,
                  #ffdba5 100%,
                  #ad6902 100%
                );
              }
              .diamond__mobile__send:before {
                content: '';
                width: 224px;
                height: 56px;
                border-radius: 18px;
                position: absolute;
                padding: 1px;
                -webkit-mask: linear-gradient(#fff, #fff 0) content-box,
                  linear-gradient(#fff, #fff 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
              }
              .icon__btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 103px;
                height: 56px;
                background: rgba(255, 255, 255, 0.05);
                border-radius: 18px;
                &.diamond__mobile {
                  border: none;
                }
                img {
                  height: 20px;
                  width: 20px;
                }

                .vertical__line {
                  width: 32px;
                  height: 0px;
                  border: 1px solid rgba(255, 255, 255, 0.33);
                  transform: rotate(90deg);
                }
              }
              .diamond__mobile:before {
                background: linear-gradient(
                  103.31deg,
                  #f9ae3f 100%,
                  #ffdba5 100%,
                  #ad6902 100%
                );
              }
              .diamond__mobile:before {
                content: '';
                width: 103px;
                height: 56px;
                position: absolute;
                border-radius: 18px;
                padding: 1px;
                -webkit-mask: linear-gradient(#fff, #fff 0) content-box,
                  linear-gradient(#fff, #fff 0);
                -webkit-mask: linear-gradient(#fff 0 0) content-box,
                  linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                mask-composite: exclude;
              }
            }
          }
          .down__arrow {
            display: flex;
          }
          .profile__info__title {
            display: flex;
            flex-direction: column;
            align-items: center;
            .profile__name {
              font-weight: 600;
              font-size: 32px;
              line-height: 40px;
              margin-right: 0;
            }
            .profile__subtext {
              width: 68.46vw;
              height: unset;
              display: flex;
              justify-content: center;
              margin-bottom: 24px;
              .profile__location {
                color: #ffffff;
                font-weight: 700;
                font-size: 14px;
                line-height: 132.5%;
              }
              .profile__age {
                font-weight: 700;
                font-size: 14px;
                line-height: 132.5%;
              }
              .profile__status {
                font-weight: 700;
                font-size: 14px;
                line-height: 132.5%;
              }
              .profile__online__status {
                font-size: 14px;
                &.diamond__status {
                  font-weight: 700;
                  font-size: 14px;
                  line-height: 132.5%;
                  background: linear-gradient(
                    132.27deg,
                    #f9ae3f -0.77%,
                    #ffdba5 36.67%,
                    #ad6902 96.37%
                  );
                  -webkit-background-clip: text;
                  -webkit-text-fill-color: transparent;
                  background-clip: text;
                  text-fill-color: transparent;
                }
              }
              .profile__online__id {
                display: none;
              }
              .profile__vertical__line {
                font-size: 12px;
                &.web {
                  display: none;
                }
              }
            }
          }
          .profile__info__filter {
            height: unset;
            margin: 27px 0 32px 0;
            .profile__info__filter__description {
              font-weight: 600;
              font-size: 15px;
              line-height: 153.5%;
            }
            .profile__info__filter__tags__block {
              width: 335px;
              height: unset;
              max-height: 123px;
            }
          }
          .hobby__chips__box {
            display: flex;
            flex-wrap: wrap;
            width: 335px;
          }
          .profile__info__list__container {
            background: none;
            border: none;
            backdrop-filter: none;
            align-items: center;
            padding: 0;
            .profile__horizontal__line {
              display: none;
            }
            .mobile__more__info__title {
              margin-top: 32px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 335px;
              margin-bottom: 24px;
              &.first {
                margin-top: 0;
              }
              p {
                font-weight: 600;
                font-size: 15px;
                line-height: 153.5%;
                color: rgba(255, 255, 255, 0.33);
              }
              .mobile__horizontal__line {
                width: 250px;
                height: 0px;
                border: 1px solid rgba(255, 255, 255, 0.2);
                &.main {
                  width: 250px;
                }
                &.hobby {
                  width: 244px;
                }
                &.about {
                  width: 270px;
                }
              }
            }
            .mobile__about__desc {
              display: flex;
              width: 335px;
              p {
                font-weight: 600;
                font-size: 15px;
                line-height: 153.5%;
              }
            }
            .main__heightweight {
              width:335px;
              display: flex;
              justify-content: space-between;
              .profile__info__list__heightweight {
                width: 149px;
                .profile__info__list__height {
                  font-size: 15px;
                }

                .profile__info__list__height__stat {
                  font-size: 15px;
                }
                .profile__info__list__weight {
                  font-size: 15px;
                }
                .profile__info__list__weight__stat {
                  font-size: 15px;
                }
              }
              .female__version {
                display: flex;
                .profile__info__list__weight {
                  font-size: 15px;
                }
                .profile__info__list__weight__stat {
                  font-size: 15px;
                }
              }
            }
            .profile__info__list__hobby__block {
              display: none;
            }
            .profile__info__list__about__block {
              display: none;
            }
            .profile__info__list {
              width: 335px;
              .profile__info__list__stats {
                // width: 89.74vw;
                .profile__info__list__title {
                  font-size: 15px;
                }
                .profile__info__list__status {
                  font-size: 15px;
                  // width: 100px;
                }
              }
            }
            .profile__info__list__carousel {
              display: none;
            }
          }
        }
      }
    }
  }
}
</style>
