<script setup>
import { ref, reactive, computed, onMounted } from 'vue'
import { useStoreProfile } from './../store/profile'
import { Api } from './../api'
import { useUserStore } from '@/stores/user.js'
const localApi = Api
let userStore = useUserStore()
// console.log(userStore.userInfo?.data)

// console.log(currentStore?.value.hobbies)
const storeProfile = useStoreProfile()
let props = defineProps({ array: Object })
let currentStore = computed(() => userStore.userInfo?.data)

onMounted(() => {
  currentName(currentStore.value.languages),
  currentName(currentStore.value.hobbies)
})
const arrToAdd = reactive([])
const identifyArr = () => (props.array[0].data[0].code ? false : true) // хобби или языки
const closePopup = () => {
  storeProfile.changePopupState()
}
let counter = ref(
  !identifyArr()
    ? currentStore.value.languages.length /// посмотреть-проверить
    : currentStore.value.hobbies.length
)
let items = ref(null)

const currentName = (arr) => {
  for (let currId in arr) {
    for (let item in items.value) {
      items.value[item].textContent == arr[currId].name
        ? items.value[item].classList.add('popup__item_active')
        : null
    }
    // arr[currId].name
  }
}

const changeItemActiveState = (index) => {
  // console.log(currentStore.value.languages.id)
  if (items.value[index].classList.contains('popup__item_active')) {
    items.value[index].classList.remove('popup__item_active')
    --counter.value
  } else if (
    !items.value[index].classList.contains('popup__item_active') &&
    counter.value < 5
  ) {
    items.value[index].classList.add('popup__item_active')
    ++counter.value
  } else if (
    !items.value[index].classList.contains('popup__item_active') &&
    counter.value === 5
  ) {
    alert('Вы можете выбрать не более пяти пунктов')
  }
}
const delItem = (array) => {
  if (!arrToAdd.length) {
    array.splice(0, array.length)
  } else {
    for (let extraItem in array) {
      arrToAdd.includes(array[extraItem]) ? null : array.splice(extraItem, 1)
    }
  }
}
const addToArrToFetch = () => {
  for (let activeItem in items.value) {
    items.value[activeItem].classList.contains('popup__item_active')
      ? arrToAdd.push(props.array[0].data[activeItem])
      : null
  }
  closePopup()
  for (let newItem of arrToAdd) {
    if (!identifyArr()) {
      !currentStore.value.languages.includes(newItem)
        ? currentStore.value.languages.push(newItem)
        : null
    } else {
      !currentStore.value.hobbies.includes(newItem)
        ? currentStore.value.hobbies.push(newItem)
        : null
    }
  }
  !identifyArr()
    ? delItem(currentStore.value.languages)
    : delItem(currentStore.value.hobbies)
    
  localApi.postRefreshData(storeProfile.blockForFetch)
}
</script>

<template>
  <div class="popup">
    <div class="popup__header">
      <img
        src="./../img/close-line.svg"
        class="popup__close"
        @click="closePopup()"
      />
      <h4 class="popup__title">Выберите до 5&nbsp;</h4>
    </div>
    <h6 class="popup__subtitle">
      Выбрано:&nbsp;<span class="popup__subtitle_num">{{ counter }}</span>
    </h6>
    <div class="popup__items">
      <div class="popup__items-container">
        <div
          v-for="(item, index) in array[0].data"
          :key="index"
          ref="items"
          class="popup__item"
          @click="changeItemActiveState(index)"
        >
          {{ item.name }}
        </div>
      </div>
    </div>
    <button class="popup__btn" @click="addToArrToFetch()">Выбрать</button>
  </div>
</template>

<style lang="scss" scoped>
.popup__items-container {
  max-height: 376px;
  margin-top: 3px;
  padding-top: 4px;
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  scrollbar-width: thin;
  scrollbar-color: #000000 rgba(255, 255, 255, 0.2);
  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 2px;
    border: 1px solid rgba(255, 255, 255, 0);
    transform: translateX(-10px);
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    transform: translateX(-10px);
  }
  &::-webkit-scrollbar {
    width: 2px;
    transform: translateX(-10px);
  }
}
.popup__item_active {
  background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
  box-shadow: 0px 4px 20px -12px rgba(70, 122, 255, 0.4);
}
.popup__item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 13px;
  height: 35px;
  line-height: 35px;
  padding: 0 12px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  margin: 0 0 8px 8px;
  cursor: pointer;
}
.popup__btn {
  display: flex;
  margin-top: 24px;
  width: 100%;
  height: 48px;
  line-height: 48px;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  background: linear-gradient(137.15deg, #2965ff 0%, #2e66f5 99.89%);
  border-radius: 11px;
  transition: 0.4s linear;
  justify-content: center;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  &:hover {
    border: 1px solid #2b66fb;
    color: #2b66fb;
    background: #fff;
  }
}
.popup__items {
  display: block;
  height: 384px;
  width: 100%;
  margin-top: 12px;
  border: 1px solid rgba(255, 255, 255, 0.14);
  border-radius: 11px;
  padding-right: 6px;
  justify-content: flex-start;
}
.popup__subtitle_num {
  color: #ffffff;
}
.popup__subtitle {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  width: 100%;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.33);
}
.popup__title {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.popup__close {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.popup__header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  justify-content: center;
}
.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  height: 632px;
  background: rgba(36, 37, 41, 0.6);
  border: 1px solid #2b66fb;
  border-radius: 24px;
  padding: 48px;
  box-sizing: border-box;
  z-index: 20;
}
</style>
