<script setup>
import { useRouter } from 'vue-router'
import StartForm from '@/components/StartForm'
import UiButton from '@/ui/UiButton'

const router = useRouter()

const clickHandler = () => {
  router.push('/auth')
}
</script>

<template>
  <div class="success">
    <div class="success__form">
      <StartForm type="fifth">
        <div class="success__block">
          <img
            src="@/assets/images/icons/success.svg"
            class="success__image"
            alt="success"
          />

          <h2 class="success__title">Пароль успешно изменен!</h2>
        </div>
      </StartForm>
    </div>

    <div class="success__button">
      <UiButton title="Отлично!" size="big" @click="clickHandler()" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.success {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 939px;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__image {
    width: 200px;
  }

  &__title {
    display: inline-block;
    margin-top: 54px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 153.5%;
    color: #ffffff;
  }

  &__button {
    margin-top: 131px;
    margin-bottom: 146px;
  }
}

@media only screen and (max-width: 991px) {
  .success {
    justify-content: flex-start;
    min-height: auto;

    &__form {
      width: 100%;
      margin-top: 202px;
    }

    &__title {
      margin-top: 40px;
      display: inline-block;
      font-family: 'Mulish';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
    }

    &__button {
      margin-top: 48px;
      margin-bottom: 274px;
      width: 236px;
    }
  }
}
</style>
