<script setup>
import { ref, watch, computed } from 'vue'
import { useForgotPasswordStore } from '../../store/forgotPassword'
import { ForgotPasswordService } from '../../services'
import StartForm from '@/components/StartForm'
import UiButton from '@/ui/UiButton'
import UiInput from '@/ui/UiInput'
import UiErrorMessage from '@/ui/UiErrorMessage'

const forgotPasswordStore = useForgotPasswordStore()

const isAnimate = ref(false)

const password = ref('')
const passwordRepeat = ref('')

const passwordError = ref(false)
const passwordRepeatError = ref(false)
const errorMessage = ref('')

const passwordInputType = ref('password')
const passwordRepeatInputType = ref('password')

const isLoading = computed(() => forgotPasswordStore.set.isLoading)

const setError = computed(() => forgotPasswordStore.set.error)

watch(isAnimate, () => {
  if (isAnimate.value) {
    stopAnimateByTimeout()
  }
})

watch(password, () => {
  if (password.value.length) {
    passwordError.value = false
    errorMessage.value = ''
  }
})

watch(passwordRepeat, () => {
  if (passwordRepeat.value.length) {
    passwordRepeatError.value = false
    errorMessage.value = ''
  }
})

const buttonClickHandler = async () => {
  if (!password.value.length) {
    passwordError.value = true
    errorMessage.value = 'Введите пароль'

    return
  }

  if (!passwordRepeat.value.length) {
    passwordRepeatError.value = true
    errorMessage.value = 'Введите пароль'

    return
  }

  if (password.value !== passwordRepeat.value) {
    passwordError.value = true
    passwordRepeatError.value = true
    errorMessage.value = 'Пароли не совпадают'

    return
  }

  await ForgotPasswordService.set(password.value)
}

const changeTypeHandler = () => {
  passwordInputType.value =
    passwordInputType.value === 'password' ? 'text' : 'password'
}

const changeTypeRepeatPasswordHandler = () => {
  passwordRepeatInputType.value =
    passwordRepeatInputType.value === 'password' ? 'text' : 'password'
}

const startAnimate = () => {
  isAnimate.value = true
}

const stopAnimateByTimeout = () => {
  setTimeout(() => {
    isAnimate.value = false
  }, 700)
}
</script>

<template>
  <div class="second">
    <div class="second__form">
      <StartForm
        title="Новый пароль"
        description="Введите новый пароль и подтвердите его"
        :animate="isAnimate"
      >
        <div class="second__block">
          <div class="second__input">
            <UiInput
              v-model:value="password"
              :type="passwordInputType"
              placeholder="Пароль"
              :error="passwordError"
              :eye="true"
              @focus="startAnimate()"
              @change-type="changeTypeHandler()"
            />
          </div>

          <div class="second__input">
            <UiInput
              v-model:value="passwordRepeat"
              :type="passwordRepeatInputType"
              placeholder="Повторите пароль"
              :error="passwordRepeatError"
              :eye="true"
              @focus="startAnimate()"
              @change-type="changeTypeRepeatPasswordHandler()"
            />
          </div>

          <div
            v-if="passwordError || passwordRepeatError || setError?.status"
            class="second__error"
          >
            <UiErrorMessage :message="errorMessage || setError?.message" />
          </div>
        </div>
      </StartForm>
    </div>

    <div class="second__button">
      <UiButton
        title="Сохранить"
        size="big"
        :is-loading="isLoading"
        @click="buttonClickHandler()"
      />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.second {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 939px;

  &__form {
    margin-top: 332px;
  }

  &__button {
    margin: 126px 0 146px 0;
  }

  &__input {
    margin-top: 16px;

    &:second-child {
      margin-top: 0;
    }
  }

  &__error {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 991px) {
  .second {
    justify-content: flex-start;
    min-height: auto;

    &__form {
      width: 100%;
      margin-top: 166px;
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 48px;
      margin-bottom: 240px;
    }
  }
}
</style>
