<script setup>
import { computed, watch, ref } from 'vue'
import { MainService } from '@/views/Main/services'
import ruLocale from 'date-fns/locale/ru'
import { useStore } from '@/stores/main'
import { useUserStore } from '@/stores/user'
import { MailingService } from '@/services/mailing'

const store = useStore()
const userStore = useUserStore()

const props = defineProps({
  mailing: {
    type: Object,
    required: true,
  },
})

const datingFormats = {
  1: 'Онлайн общение',
  2: 'Серьезные отношения',
  3: 'Спонсорство',
  4: 'Пойти на свидание',
  5: 'Путешествия',
}

const userAvatar = ref('')

const datingFormat = computed(
  () => datingFormats[props.mailing?.datingFormat] || ''
)

const sex = computed(() => userStore.userInfo.data?.sex)

watch(
  () => props.mailing,
  async (mailing) => {
    userAvatar.value = await MainService.avatarByUserId(mailing.creator.id)
  },
  {
    immediate: true,
    deep: true,
  }
)

const clickHandler = async (id) => {
  const hideModal = JSON.parse(
    localStorage.getItem('hideRecomendedMailingModal')
  )

  if (hideModal) {
    await MailingService.hideMailingById(id)
  } else {
    store.hideMailingId = id
    store.hideRecomendedMailingModal = true
  }
}

const clickWomanHandler = async (id) => {
  await MailingService.mailingAccept(id)
}
</script>

<template>
  <div class="mailing-item">
    <img
      src="@/assets/images/main/close-mail.svg"
      alt=""
      class="close"
      @click="clickHandler(mailing.id)"
    />
    <div class="mailing-item__img-wrap">
      <img :src="userAvatar" alt="" class="avatar" />
    </div>
    <div class="content">
      <div class="titles">
        <h3 class="title">
          {{ mailing.creator.name }}, {{ mailing.creator.age }} лет
        </h3>
      </div>
      <div class="format">
        <p class="format__title">{{ datingFormat }}</p>
      </div>
      <p class="about">{{ mailing.text }}</p>
      <div class="time-and-btn">
        <p class="time">
          <timeago
            :datetime="new Date(mailing.startAt)"
            :auto-update="true"
            :locale="ruLocale"
          />
        </p>
        <button
          v-if="sex === 2"
          class="min-btn"
          @click="clickWomanHandler(mailing.id)"
        >
          Интересно
        </button>
        <button v-if="sex === 1" class="min-btn">Написать</button>
      </div>
    </div>
  </div>
</template>

<style lang="sass" scoped>
.mailing-item
    display: flex
    align-items: flex-start
    padding: 24px
    border: 1px solid rgba(255, 255, 255, 0.14)
    border-radius: 26px
    position: relative
    min-height: 204px
    @media (max-width: 1200px)
      border: none
      border-radius: 0
      width: 100%
      background: rgba(255, 255, 255, 0.05)
    .avatar
        width: 48px
        height: 48px
        border-radius: 50%
        border: 1px solid rgba(255, 255, 255, 0.14)
        margin-right: 16px
        object-fit: cover
    .close
        position: absolute
        top: 25px
        right: 25px
        cursor: pointer
    .about
        display: block
        font-size: 12px
        line-height: 130%
        color: #fff
        margin-top: 5px
        word-wrap: break-word
        overflow: hidden

.mailing-item__img-wrap
  position: relative
  z-index: 10

.mailing-item .content
    width: calc(100% - 64px)
    .titles
        display: flex
        align-items: center
        @media (max-width: 1200px)
          flex-direction: column
          align-items: flex-start
        .title
            margin-right: 8px
            color: #fff
            font-size: 16px
            font-weight: 600
            @media (max-width: 1200px)
              font-size: 15px
        .title.city
            opacity: 0.3
            @media (max-width: 1200px)
              font-size: 12px

        .line
            margin-right: 8px
            background: #fff
            opacity: 0.3
            width: 1px
            height: 18px
            @media (max-width: 1200px)
              display: none

.mailing-item .format
    display: flex
    align-items: center
    margin-top: 12px
    .format__title
        color: #2965FF
        font-size: 14px

.mailing-item .time-and-btn
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 17px
    .time
        font-size: 14px
        color: #fff

        &:first-letter
          text-transform: uppercase
        @media (max-width: 1200px)
          display: none
</style>
