<script setup>
import { Mousewheel, Navigation } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { ProfileService } from '../../views/UserProfile/service'
import { onMounted, computed } from 'vue'
import { useUserProfileStore } from '../../views/UserProfile/store/userprofile'
import { useRoute } from 'vue-router'
import PhotoSmallSliderItem from './PhotoSmallSliderItem.vue'

const userData = computed(() => useUserProfileStore()?.profileInfo?.data)

const photoData = computed(() => useUserProfileStore()?.photoList?.data?.list)

const route = useRoute()


const pageId = route.params.user


onMounted(async () => {
  await ProfileService.getProfileInfo(pageId)

  await ProfileService.getProfilePhotoList(userData?.value.id)
})
</script>

<template>
  <div class="slider__wrapper">
    <Swiper
      :modules="[Navigation, Mousewheel]"
      :space-between="10"
      class="photo-small-slider"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      :mousewheel="true"
      :breakpoints="{
        0: {
          slidesPerView: 5,
          spaceBetween: 30,
        },
        1200: {
          slidesPerView: 6,
        },
      }"
    >
    <SwiperSlide v-for="item in photoData" :key="item.id" >
      <PhotoSmallSliderItem :photo-data="item" />
    </SwiperSlide>
  </Swiper>
  </div>
</template>

<style lang="scss" scoped>
.slider__wrapper {
  position: absolute;
  bottom: 49px;
  left: 34%;
  z-index: 1;
  display: flex;
  align-items: center;
  width: 404px;
  padding: 12px;
  background: rgba(40, 37, 42, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  @media (max-width: 1200px) {
    width: 252px;
  }
}
.slider-navigate.right {
  position: relative;
  right: 0;
  top: 0;
  margin: 0 10px;
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1200px) {
    display: none;
  }
}
.left {
  transform: rotate(180deg);
  margin: 0 10px;
  cursor: pointer;
}
.photo-small-slider {
  width: 370px;
  border-radius: 14px;
  @media (max-width: 1200px) {
    width: 295px;
  }
}
</style>
