<script setup>
import { UserProfileApi } from '../../views/UserProfile/api'
import { ref } from 'vue'

const url = ref('')
const getImg = async () =>
  (url.value = (await UserProfileApi.getUserPhoto(props.photoData?.id)).data)
getImg()

const props = defineProps({
  photoData: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="small-photo">
    <img :src="url" alt="" class="image" />
  </div>
</template>

<style lang="scss" scoped>
.small-photo {
  position: relative;
  height: 714px;
  width: 560px;
  display: flex;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 60px;
    height: 60px;
  }
  .image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    border-radius: 24px;
    // border: 1px solid rgba(255, 255, 255, 0.33);
// filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
  }
}
</style>
