<script setup>
import { ref, watch, computed } from 'vue'
import { useUserStore } from '@/stores/user'
import { useForgotPasswordStore } from '../../store/forgotPassword'
import { ForgotPasswordService } from '../../services'
import StartForm from '@/components/StartForm'
import UiInputCode from '@/ui/UiInputCode'
import UiButton from '@/ui/UiButton'
import UiTextLink from '@/ui/UiTextLink'
import UiErrorMessage from '@/ui/UiErrorMessage'

const userStore = useUserStore()
const forgotPasswordStore = useForgotPasswordStore()

const isAnimate = ref(false)

const code = ref([])

const codeError = ref(false)
const errorMessage = ref('')

const timer = ref(0)

const isLoading = computed(() => forgotPasswordStore.check.isLoading)

const acceptError = computed(() => forgotPasswordStore.check.error)

watch(isAnimate, () => {
  if (isAnimate.value) {
    stopAnimateByTimeout()
  }
})

watch(code, () => {
  if (code.value.length) {
    codeError.value = false
    errorMessage.value = ''
  }
})

const inputHandler = (event) => {
  code.value = event
}

const clickHandler = async () => {
  if (code.value.length !== 4) {
    codeError.value = true
    errorMessage.value = 'Введите код'

    return
  }

  await ForgotPasswordService.check(code.value)
}

const clickRepeatHandler = async () => {
  if (timer.value === 0) {
    timer.value = 60

    const interval = setInterval(() => {
      if (timer.value === 0) {
        clearInterval(interval)

        return
      }

      timer.value--
    }, 1000)

    let { email } = userStore

    if (!email === null) {
      email = localStorage.getItem('email')
    }

    await ForgotPasswordService.restore(email)
  }
}

const startAnimate = () => {
  isAnimate.value = true
}

const stopAnimateByTimeout = () => {
  setTimeout(() => {
    isAnimate.value = false
  }, 700)
}
</script>

<template>
  <div class="accept">
    <div class="accept__form">
      <StartForm
        title="Введите код"
        description="Мы отправили вам код подтверждения на электронную почту для создания нового пароля."
        :animate="isAnimate"
        type="third"
      >
        <UiInputCode
          :error="codeError"
          @input="inputHandler($event)"
          @focus="startAnimate()"
        />

        <div v-if="codeError || acceptError?.status" class="accept__error">
          <UiErrorMessage :message="errorMessage || acceptError?.message" />
        </div>
      </StartForm>
    </div>

    <div class="accept__reverse">
      <span class="accept__repeat" @click="clickRepeatHandler()">
        Отправить повторно<span v-if="timer !== 0">: {{ timer }} сек</span>
      </span>

      <div class="accept__button">
        <UiButton
          title="Продолжить"
          size="big"
          :is-loading="isLoading"
          @click="clickHandler()"
        />
      </div>
    </div>

    <div class="accept__auth">
      <UiTextLink answer="Вспомнили пароль?" link="Войти" to="/auth" />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.accept {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: 939px;

  &__button {
    margin: 111px 0 0 0;
  }

  &__error {
    margin-top: 10px;
  }

  &__auth {
    margin: 24px 0 101px 0;
  }

  &__repeat {
    display: inline-block;
    margin-top: 24px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 153.5%;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
  }

  &__reverse {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 991px) {
  .accept {
    justify-content: flex-start;
    min-height: auto;

    &__form {
      width: 100%;
      margin-top: 166px;
    }

    &__reverse {
      flex-direction: column-reverse;
    }

    &__button {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 48px;
    }

    &__auth {
      display: none;
    }

    &__repeat {
      margin-bottom: 24px;
    }
  }
}
</style>
