<script setup>
import { Navigation, Mousewheel } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { MyProfileService } from '../services'
import { onMounted, computed } from 'vue'
import { useMyProfileStore } from '../store/myProfile'
import PhotoSmallSliderItemForPopup from './PhotoSmallSliderItemForPopup.vue'

const photoData = computed(() => useMyProfileStore()?.photoList?.data?.list)
onMounted(async () => {
  await MyProfileService.getPhotoList()
})
</script>

<template>
  <div class="slider__wrapper">
    <Swiper
      :modules="[Navigation, Mousewheel]"
      :space-between="10"
      class="photo-small-slider"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left'
      }"
      :mousewheel="true"
      :breakpoints="{
        0: {
          slidesPerView: 4,
        },
        1200: {
          slidesPerView: 6,
        },
      }"
    >
    <SwiperSlide v-for="item in photoData" :key="item.id">
      <PhotoSmallSliderItemForPopup :photo-data="item" />
    </SwiperSlide>
  </Swiper>
</div>
</template>

<style lang="scss" scoped>
  .slider__wrapper {
    display: flex;
    align-items: center;
    width: 434px;
    margin-top: 10px;
    @media (max-width: 1200px) {
      width: 252px;
    }
  }
.photo-small-slider {
  width: 364px;
  height: 55px;
  border-radius: 14px;
  @media (max-width: 1200px) {
    width: 252px;
  }
}
</style>
