<script setup>
import { Navigation, Mousewheel } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { MyProfileService } from '../services'
import { onMounted, computed, ref } from 'vue'
import { useMyProfileStore } from '../store/myProfile'
import { useStore } from '@/stores/main'
import PhotoSmallSliderItem from './PhotoSmallSliderItem.vue'

const store = useStore()

const modalOpen = () => {
  store.GalleryIsOpen = true
}

const photoData = computed(() => useMyProfileStore()?.photoList?.data?.list)
onMounted(async () => {
  await MyProfileService.getPhotoList()
})

const activeSlideIndex = ref(0)

const swipeLog = (slide) => {
  activeSlideIndex.value = slide.activeIndex
}
</script>

<template>
  <div class="slider__wrapper">
    <svg
      v-show="activeSlideIndex !== 0"
      class="slider-navigate left"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>

    <Swiper
      :modules="[Navigation, Mousewheel]"
      :space-between="10"
      class="photo-small-slider"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      @slideChange="swipeLog($event)"
      :mousewheel="true"
      :breakpoints="{
        0: {
          slidesPerView: 4,
        },
        1200: {
          slidesPerView: 6,
        },
      }"
    >
      <SwiperSlide
        v-for="item in photoData"
        :key="item.id"
        @click="modalOpen()"
      >
        <PhotoSmallSliderItem :photo-data="item" />
      </SwiperSlide>
    </Swiper>
    <svg
      v-show="activeSlideIndex + photoData?.length - 1 == 6"
      class="slider-navigate right"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
  </div>
</template>

<style lang="scss" scoped>
.slider__wrapper {
  display: flex;
  align-items: center;
  width: 434px;
  margin-right: 10px;
  @media (max-width: 1200px) {
    width: 252px;
  }
}
.slider-navigate.right {
  position: relative;
  right: 0;
  top: 0;
  // margin-left: 15px;
  cursor: pointer;
  @media (max-width: 1200px) {
    display: none;
  }
}
.left {
  transform: rotate(180deg);
  @media (max-width: 1200px) {
    display: none;
  }
}
.photo-small-slider {
  width: 404px;
  height: 64px;
  margin-right: 10px;
  border-radius: 14px;
  @media (max-width: 1200px) {
    width: 252px;
  }
}
</style>
