<script setup>
defineProps({
  formatdata: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="foramtitem">
    {{ formatdata }}
  </div>
</template>

<style lang="scss" scoped>
.foramtitem {
  font-weight: 700;
  font-size: 14px;
  line-height: 132.5%;
  height: 35px;
  display: inline-block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  box-shadow: 0px 4px 20px -12px rgba(70, 122, 255, 0.4);
  border-radius: 13px;
  font-weight: 700;
  font-size: 14px;
  line-height: 132.5%;
  margin-right: 12px;
  border: #2965ff 1px solid;
}
</style>
