<script setup>
import FormatDatingListItem from './FormatDatingListItem.vue'

const formatDating = {
  1: 'Онлайн общение',
  2: 'Серьезные отношения',
  3: 'Спонсорство',
  4: 'Пойти на свидание',
  5: 'Путешествия',
}

defineProps({
  allFormatData: {
    type: String,
    required: true,
  },
})
</script>

<template>
  <div class="formatlist">
    <FormatDatingListItem
      v-for="(formatdata, index) in allFormatData"
      :key="index"
      :formatdata="formatDating[formatdata]"
    />
  </div>
</template>

<style lang="scss">
.formatlist {
  display: flex;
  flex-wrap: wrap;
}
</style>
