<script setup>
defineProps({
  hobbydata: {
    type: Object,
    required: true,
  },
  isLast: {
    type: Boolean,
  },
})
</script>

<template>
  <p class="hobbyitem">{{ hobbydata.name }}{{ isLast ? ',' : null }}</p>
</template>

<style lang="scss">
.hobbyitem {
  margin-right: 4px;
}
</style>
