<script setup>
import HobbyListItem from './HobbyListItem.vue'

defineProps({
  allHobbyData: {
    type: Array,
    required: true,
  },
})
</script>

<template>
  <div class="hobbylist">
    <HobbyListItem
      v-for="(hobbydata, index) in allHobbyData"
      :key="index"
      :hobbydata="hobbydata"
      :is-last="allHobbyData.length - 1 !== index"
    />
  </div>
</template>

<style lang="scss">
.hobbylist {
  display: flex;
  flex-wrap: wrap;
}
</style>
