<script setup>
import LangListItem from './LangListItem.vue'

defineProps({
  allLangData: {
    type: Array,
    required: true,
  },
})
</script>

<template>
  <div class="langlist">
    <LangListItem
      v-for="(langdata, index) in allLangData"
      :key="index"
      :langdata="langdata"
      :is-last="allLangData.length - 1 !== index"
    />
  </div>
</template>

<style lang="scss">
.langlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
</style>
