<script setup>
defineProps({
  langdata: {
    type: Object,
    required: true,
  },
  isLast: {
    type: Boolean,
  },
})
</script>

<template>
  <div class="langitem">
    <p>{{ langdata.name }}{{ isLast ? ',' : null }}</p>
  </div>
</template>

<style lang="scss">
.langitem {
  margin-left: 5px;
}
</style>
