<script setup>
import { Navigation, Mousewheel } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { MyProfileService } from '../services'
import { onMounted, computed, ref } from 'vue'
import { useMyProfileStore } from '../store/myProfile'
import { MyProfileApi } from '../api'
import Thumb from './Thumb.vue'

import { useStore } from '@/stores/main'

const store = useStore()


const deletePhoto = async (id) => await MyProfileApi.deletePhoto(id)

const setToAvatar = async (id) => await MyProfileService.setPhotoAvatar(id)

const activeSlideIndex = ref(0)

const idPhoto = ref('')

const swipeLog = (slide) => {
  activeSlideIndex.value = slide.activeIndex

  idPhoto.value = photoData.value[activeSlideIndex.value].id
}

const photoData = computed(() => useMyProfileStore()?.photoList?.data?.list)
onMounted(async () => {
  await MyProfileService.getPhotoList()

  idPhoto.value = (photoData.value[0].id)
})
const closeModal =()=> {
  store.GalleryIsOpen=false
}
</script>

<template>
  <div class="mobile__album">
    <div class="avatar">
      <Swiper
      :slide-per-view="1"
      :space-between="0"
      :modules="[Navigation, Mousewheel]"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      grab-cursor
      :mousewheel="true"
      :preload-images="false"
      class="swiper__user"
      @slideChange="swipeLog($event)"
    >
      <SwiperSlide v-for="item in photoData" :key="item" class="custom__slide">
        <Thumb :photo-data="item" />
      </SwiperSlide>
    </Swiper>
    </div>
    <div class="mobile__album__header">
      <div >
        <div class="btn__back__block" @click="closeModal($event)">
          <div class="btn__back">
            <img
              class="arrow"
              src="@/assets/images/main/auth__back__arrow.svg"
              alt=""
            />
          </div>
          <p>Назад</p>
        </div>
      </div>
      <div class="page__number">{{activeSlideIndex + 1}} <span>/ {{photoData.length}}</span></div>
    </div>
    <div class="mobile__album__body">
    </div>
    <div class="mobile__album__footer">
      <div class="footer__btn__block">
        <div class="footer__btn" @click="setToAvatar(idPhoto)">
          <img
            class="logo"
            src="@/assets/images/main/album__make__avatar.svg"
            alt=""
          />
          <p>Сделать аватаркой</p>
        </div>
        <div class="vertical__line"></div>
        <div class="footer__btn" @click="deletePhoto(idPhoto)">
          <img
            class="logo"
            src="@/assets/images/main/album__delete__photo.svg"
            alt=""
          />
          <p>Удалить</p>
        </div>
      </div>
    </div>
  </div>


   
</template>

<style lang="scss" scoped>
.swiper__user {
  width: 375px;
  height: 100%;
  object-fit: contain;
}
.mobile__album {
    display: flex;
    width: 375px;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background: black;
    
    .avatar {
      height: 100%;
      object-fit: contain;
      position: absolute;
    }
  }
  .mobile__album__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50vw;
    margin-top: 1.538vw;
    position: relative;
    left: -74px;
    top: 50px;
    z-index: 99;
    .btn__back__block {
      display: flex;
      align-items: center;
      p {
        font-weight: 500;
        font-size: 15px;
        line-height: 153.5%;
        color: #ffffff;
      }
      .btn__back {
      }
      .page__number {
        font-weight: 600;
        font-size: 18px;
        line-height: 153.5%;
        color: #ffffff;
        span {
          font-weight: 600;
          font-size: 18px;
          line-height: 153.5%;
          color: #ffffff;
        }
      }
    }
  }
  .mobile__album__body {
    // filter: blur(60px);
    img {
      // width: 100%;
    }
  }
  .mobile__album__footer {
    position: relative;
    z-index: 999;
    width: 100%;
    height: 72px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    .vertical__line {
      border: 1 solid rgba(255, 255, 255, 0.14);
      height: 34px;
      width: 0px;
      position: relative;
      left: 0;
    }
    .footer__btn__block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 11px;
      .footer__btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 40px;
        width: 50vw;
        p {
          font-weight: 600;
          font-size: 12px;
          line-height: 132.5%;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
</style>
