<script setup>
import { Navigation, Mousewheel } from 'swiper'
import { Swiper, SwiperSlide } from '~swiper/vue/swiper-vue.js'
import { onMounted, computed, ref } from 'vue'
import { useMyProfileStore } from '../store/myProfile'
import { MyProfileService } from '../services'
import { MyProfileApi } from '../api'
import Thumbnail from '../../../components/Gallery/Thumbnail.vue'
import CarouselForPopup from './CarouselForPopup.vue'

const deletePhoto = async (id) => await MyProfileApi.deletePhoto(id)

const setToAvatar = async (id) => await MyProfileService.setPhotoAvatar(id)

const photoData = computed(() => useMyProfileStore()?.photoList?.data?.list)

const activeSlideIndex = ref(0)

const idPhoto = ref('')

const swipeLog = (slide) => {
  activeSlideIndex.value = slide.activeIndex

  idPhoto.value = photoData.value[activeSlideIndex.value].id
}



onMounted(async () => {
  await MyProfileService.getPhotoList()

  idPhoto.value = (photoData.value[0].id)
})
</script>

<template>
  <div class="gallery__group">
    <svg
      class="slider-navigate left"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
    <Swiper
      :slide-per-view="1"
      :space-between="0"
      :modules="[Navigation, Mousewheel]"
      :navigation="{
        nextEl: '.slider-navigate.right',
        prevEl: '.slider-navigate.left',
      }"
      grab-cursor
      :mousewheel="true"
      :preload-images="false"
      class="swiper__user"
      @slideChange="swipeLog($event)"
    >
      <SwiperSlide v-for="item in photoData" :key="item" class="custom__slide">
        <Thumbnail :photo-data="item" />
      </SwiperSlide>
    </Swiper>
    <svg
      class="slider-navigate right"
      width="21"
      height="41"
      viewBox="0 0 21 41"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1.0127 40C0.554563 40 12.7051 28.091 19.4892 21.5021C19.8897 21.1132 19.8926 20.4737 19.4979 20.0789L1.0127 1.59375"
        stroke="white"
        stroke-opacity="1"
        stroke-width="2"
      />
    </svg>
  </div>
  <div class="mini-photo__block">
    <div class="btn__block">
      <div class="btn" @click="setToAvatar(idPhoto)">
        Сделать Аватаркой
      </div>
      <div class="btn" @click="deletePhoto(idPhoto)">
        Удалить
      </div>
    </div>
    <CarouselForPopup />
    
  </div>
  <div class="counter">{{activeSlideIndex + 1}} из {{photoData.length}}</div>
</template>

<style lang="scss" scoped>
.gallery__group {
  display: flex;
  position: absolute;
  top: 17px;
  align-items: center;
}
.swiper__user {
  margin: 0;
  width: 560px;
}
.counter {
  position: absolute;
  bottom: 17px;
}
.mini-photo__block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 388px;
  height: 116.97px;
  backdrop-filter: blur(15px);
  background: rgba(40, 37, 42, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  flex-direction: column;
  z-index: 999;
  margin-bottom: 57px;
  .btn__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    .btn {
      font-weight: 600;
      font-size: 12px;
      line-height: 132.5%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 174px;
      height: 28px;
      background: rgba(40, 37, 42, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.33);
      backdrop-filter: blur(15px);
      border-radius: 8px;
      cursor: pointer;
    }
  }
}
.slider-navigate.right {
  position: relative;
  right: 0;
  top: 0;
  margin: 0 10px;
  cursor: pointer;
  z-index: 99;
  @media (max-width: 1200px) {
    display: none;
  }
}
.left {
  transform: rotate(180deg);
  margin: 0 10px;
  cursor: pointer;
}
</style>
