<script setup>
import { useStore } from '@/stores/main'
import MyProfileGallery from './MyProfileGallery.vue'
import MobilePhotoCarousel from './MobilePhotoCarousel.vue'

const store = useStore()

const closeModal = () => {
  store.GalleryIsOpen = false
}
</script>

<template>
  <div class="album__block">
    <div class="album__content">
      <MyProfileGallery />
    </div>
    <div class="album__close" @click="closeModal()">
      <img src="@/assets/images/main/close-album.svg" alt="" />
    </div>
  </div>
  <div class="mobile__album">
    <MobilePhotoCarousel />
  </div>
</template>

<style lang="scss" scoped>
.mobile__album {
  display: none;
}
.album__block {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(50px);
}
.album__content {
  width: 1382px;
  height: 818px;
  background: rgba(36, 37, 41, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.33);
  backdrop-filter: blur(30px);
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.album__close {
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 818px;
  margin-left: 24px;
  img {
    cursor: pointer;
  }
}
@media (max-width: 1200px) {
  .album__block {
    display: none;
  }
  .mobile__album {
    display: flex;
    width: 375px;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: fixed;
    background: black;
  }
}
</style>
