<script setup>
import { UserProfileApi } from '../../UserProfile/api'
import { ref } from 'vue'

const url = ref('')
const getImg = async () =>
  (url.value = (await UserProfileApi.getUserPhoto(props.photoData?.id)).data)
getImg()

const props = defineProps({
  photoData: {
    type: Object,
    required: true,
  },
})
</script>

<template>
  <div class="small-photo">
    <img :src="url" alt="" class="image" />
    <img :src="url" alt="" class="image__blur" />

  </div>
</template>

<style lang="scss" scoped>
.small-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 375px;
  height: 100%;
  
  .image {
    position: relative;
    z-index: 99;
    width: 100vw;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    
    filter: drop-shadow(12px 12px 40px rgba(30, 29, 31, 0.16));
  }
  .image__blur {
     position: absolute;
       display: flex;
       object-fit: cover;
  // align-items: center;
  justify-content: center;
  align-content: center;
  z-index: 1;
  width: 375px;
  height: 100%;
    filter: blur(50px);
  }
}
</style>
