<script setup>
import { mySendsApi } from '@/views/Sends/api'
import { ref } from 'vue'
const props = defineProps({
  photos: {
    type: String,
  },
})
const src = ref('')
const getPhoto = async () => {
  src.value = (await mySendsApi.getUserPhoto(props.photos)).data
}
getPhoto()
</script>

<template>
  <div>
    <img :src="src">
  </div>
</template>
