<script setup>
import BackLink from '@/components/Search/BackLink.vue'
import TheSelect from '@/components/Form/TheSelect.vue'
import TheFormats from '@/components/Form/TheFormats.vue'
import FormRange from '@/components/Form/FormRange.vue'
// import FormCheckbox from '@/components/Form/FormCheckbox.vue'
import BigButton from '@/components/Form/BigButton.vue'
import { computed, ref } from 'vue'
import { useStore } from '@/stores/main.js'
import { useDatabaseStore } from '@/stores/database.js'
import { useUserStore } from '@/stores/user'
import { MailingService } from '@/services/mailing'

const isMobile = document.documentElement.clientWidth < 1200

const store = useStore()
const userStore = useUserStore()

const userInfo = computed(() => userStore.userInfo.data)
const databaseStore = useDatabaseStore()
const cities = computed(() => databaseStore.cities.data)

const selectValue = ref(null)
const formatValue = ref([])
const rangeValue = ref([])

const changeSelect = (val) => {
  selectValue.value = val
}
const changeFormat = (val) => {
  formatValue.value = val
}
const changeRange = (val) => {
  rangeValue.value = val
}


const startSearching = () => {
  const arr = []
  formatValue.value.map((el) => arr.push(el.value))
  const filterObj = {
    arr,
    page: {
      page: 0,
      count: 30,
    },
    cityId: selectValue.value?.id || userInfo.value?.city.id,
    minAge: rangeValue.value[0] || 18,
    maxAge: rangeValue.value[1] || 45,
  }
  store.mobileSorting = false
  MailingService.mailingListNew(filterObj)
}

</script>

<template>
  <div id="mobile-sorting">
    <div class="decor"></div>
    <div class="head">
      <div class="back-link">
        <BackLink @click="store.mobileSorting = false" />
      </div>
      <h2 class="title">Поиск</h2>
    </div>
    <div class="sort-form">
      <TheSelect
        placeholder="Выберите город"
        :options="cities[0]"
        label="name"
        :default="userInfo?.city"
        @changeSelect="changeSelect($event)"
      />
      <FormRange @changeRange="changeRange($event)" />
      <TheFormats v-if="isMobile" @changeFormat="changeFormat($event)" />
      <!-- <FormCheckbox title="Сейчас онлайн" />
      <FormCheckbox title="Diamond" />
      <FormCheckbox title="Спец. предложения"  /> -->
      <BigButton title="Начать поиск" @click="startSearching($event)" />
    </div>
  </div>
</template>

<style lang="scss">
#mobile-sorting {
  position: fixed;
  width: 375px;
  max-width: 375px;
  padding: 0 20px 40px 20px;
  height: 99.9%;
  overflow-y: scroll;
  left: 50%;
  transform: translateX(-50%);
  background: #1c1d21;
  top: 0;
  z-index: 12;
  #formats {
    margin-top: 20px;
  }
  #form-checkbox {
    margin-top: 20px;
  }
  .big-btn {
    margin-top: 20px;
  }

  .head {
    text-align: center;
    position: relative;
    padding: 20px 0;
    margin-top: 30px;
    .title {
      font-size: 17px;
      font-weight: 600;
    }
    .back-link {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .sort-form {
    margin-top: 20px;
  }
}
</style>
