<script setup>
import TheSelect from '@/components/Form/TheSelect.vue'
import TheFormats from '@/components/Form/TheFormats.vue'
import FormRange from '@/components/Form/FormRange.vue'
import FormCheckbox from '@/components/Form/FormCheckbox.vue'
import BigButton from '@/components/Form/BigButton.vue'
import { useDatabaseStore } from '@/stores/database.js'
import { useUserStore } from '@/stores/user.js'
import { ref, computed } from 'vue'
import { SearchService } from '@/views/Search/services'


const databaseStore = useDatabaseStore()
const userStore = useUserStore()

const userInfo = computed(() => userStore.userInfo.data)
const userInfoisLoading = computed(() => userStore.userInfo.isLoading)
const cities = computed(() => databaseStore.cities.data)


const selectValue = ref(null)
const formatValue = ref([])
const rangeValue = ref([])


const changeSelect = (val) => {
  selectValue.value = val
}
const changeFormat = (val) => {
  formatValue.value = val
}
const changeRange = (val) => {
  rangeValue.value = val
}

const isOnline = ref(false)
const changeOnline = (val) => isOnline.value = val

const isDimond = ref(false)
const changeDimond = (val) => isDimond.value = val

const isOffers = ref(false)
const changeOffers = (val) => isOffers.value = val

const isNewUsers = ref(false)
const changeNewUsers = (val) => isNewUsers.value = val

const startSearching = () => {
  const arr = []
  formatValue.value.map((el) => arr.push(el.value))
  const filterObj = {
    arr,
    page: {
      page: 0,
      count: 30,
    },
    cityId: selectValue.value?.id || userInfo.value?.city.id,
    minAge: rangeValue.value[0] || 18,
    maxAge: rangeValue.value[1] || 45,
    online: isOnline.value,
    special: isOffers.value,
    diamond: isDimond.value,
    newUsers: isNewUsers.value
  }
  SearchService.fetchUsers(filterObj)
}
const isMan = computed(()=>userStore.userInfo.data?.sex === 1)
</script>

<template>
  <div id="searchPageSidebar">
    <h3 class="page-subtitle">Сортировка</h3>
    <form @submit.prevent>
      <TheSelect
      v-if="!userInfoisLoading"
      label="name"
      :default="userInfo?.city"
      :options="cities[0]"
      placeholder="Выберите город"
      @changeSelect="changeSelect($event)"
    />
      <TheFormats  @changeFormat="changeFormat($event)" />
      <FormRange @changeRange="changeRange($event)" />
      <FormCheckbox @update="changeOnline($event)"  title="Сейчас онлайн" />
      <FormCheckbox   v-if="isMan" @update="changeDimond($event)"  title="Diamond" />
      <FormCheckbox  v-if="isMan" @update="changeOffers($event)" title="Спец. предложения" />
      <FormCheckbox  v-if="isMan" @update="changeNewUsers($event)" title="Новые пользователи" />
      <BigButton title="Начать поиск"  @click="startSearching($event)"/>
    </form>
  </div>
</template>

<style lang="scss">
#searchPageSidebar {
  width: 100%;
  border: 1px solid #ffffff54;
  border-radius: 24px;
  background: rgba(196, 196, 196, 0.05);
  padding: 24px;
  #formats {
    margin: 20px 0;
  }
  #form-checkbox {
    margin-top: 20px;
  }
  .big-btn {
    margin-top: 20px;
  }
  .page-subtitle {
    margin-bottom: 16px;
  }
}
</style>
