<script setup>
import { ref, watch } from 'vue'
import { useStore } from '@/stores/main'
import { MainService } from '@/views/Main/services'
import Icon from '@/assets/images/main/dialog-icon.svg'
import IconGold from '@/assets/images/main/dialog-icon-gold.svg'

const store = useStore()

const props = defineProps({
  item: {
    type: Object,
    required: true,
  },
})

const userAvatar = ref('')

watch(
  () => props.item,
  async (item) => {
    userAvatar.value = await MainService.avatarByUserId(item.userId)
  },
  {
    immediate: true,
    deep: true,
  }
)

const clickHandler = () => {
  store.newMessageWindow = true
}
</script>

<template>
  <div
    class="potential-partners-item"
    :class="{ 'potential-partners-item--diamond': item.isDiamond }"
  >
    <div v-if="item.isDiamond" class="potential-partners-item__diamond">
      <img src="@/assets/images/diamond.svg" alt="" />
    </div>

    <div
      v-if="item.isOnline"
      class="potential-partners-item__online"
      :class="{ 'potential-partners-item__online--diamond': item.isDiamond }"
    ></div>

    <router-link :to="`/profile/${item.userId}`">
      <div class="image-wrap">
        <img :src="userAvatar" :alt="item.name" />
      </div>
    </router-link>

    <div class="name-wrap">
      <div class="name-adress">
        <h2 class="name">
          {{ item.name }}, <span class="age">{{ item.age }}</span>
        </h2>
        <p class="adress">{{ item.cityName }}</p>
      </div>
      <a href="#" class="dialog-btn" @click.prevent="clickHandler()">
        <img
          :src="item.isDiamond ? IconGold : Icon"
          alt=""
          class="dialog-icon"
        />
      </a>
    </div>
  </div>
</template>

<style lang="sass">
.potential-partners-item
    position: relative
    padding: 4px
    padding-bottom: 12px
    border: 1px solid rgba(255, 255, 255, 0.14)
    border-radius: 20px
    // width: 239px
    .image-wrap
        position: relative
        border-radius: 20px
        border: 1px solid rgba(255, 255, 255, 0.14)
        width: 100%
        height: 230px
        overflow: hidden
        img
            position: absolute
            left: 0
            top: 0
            object-fit: contain
            width: 100%
            height: 100%
    .name-wrap
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 8px
        padding: 0 10px
        .name-adress
            .name
                font-size: 16px
                font-weight: 700
                color: #fff
            .adress
                font-size: 12px
                font-weight: 600
                color: #fff
                opacity: 0.3
        .dialog-btn
            border-radius: 14px
            border: 1px solid rgba(255,255,255,0.14)
        .dialog-icon
            padding: 10px 20px
            display: flex

.potential-partners-item__diamond
  position: absolute
  top: -17px
  left: 50%
  transform: translate(-50%, 0)
  width: 82px
  height: 17px
  padding: 5px 12px 0 12px
  border: 1px solid rgba(255, 255, 255, 0.14)
  border-radius: 10px 10px 0 0

  img
    position: absolute
    top: -2px
    left: 50%
    transform: translate(-50%, 0)

.potential-partners-item--diamond
  .dialog-btn
    border-color: #F9AE3F!important

.potential-partners-item__online
  position: absolute
  top: 19px
  right: 19px
  border-radius: 50%
  background: #3E74FF
  border: 1px solid rgba(87, 57, 13, 0.2)
  width: 12px
  height: 12px
  z-index: 100

.potential-partners-item__online--diamond
  background: #F9AE3F
</style>
