<script setup>
import { computed } from 'vue'
import { useRoute } from 'vue-router'
import AuthLayout from '@/layouts/AuthLayout.vue'
import DefaultLayout from '@/layouts/DefaultLayout.vue'

const route = useRoute()

const layout = computed(() => {
  switch (route.meta.layout) {
    case 'auth-layout':
      return AuthLayout
    case 'default-layout':
      return DefaultLayout
    default:
      return null
  }
})
</script>

<template>
  <div class="container">
    <component :is="layout"></component>
  </div>
</template>

<style lang="scss">
// .container {
//   width: 100%;
//   max-width: 100%;
//   padding: 0 40px;
//   margin: 0 auto;

//   @media (max-width: 1200px) {
//     max-width: 375px;
//     padding: 0 10px;
//   }
// }
</style>
