<script setup>
import { onMounted, watch, computed } from 'vue'
import { useRouter } from 'vue-router'
import { storeToRefs } from 'pinia'
import { useUserStore } from '@/stores/user'
import { useSingleChatStore } from '@/views/SingleChat/store/singleChat'
import { SocketService } from '@/services/socket'
import { SingleChatService } from '@/views/SingleChat/services'
import { ChatService } from '@/views/Chat/services'
import SideBar from '@/components/SideBars/SideBar.vue'
import MobileSideBar from '@/components/SideBars/MobileSideBar.vue'

const router = useRouter()

const userStore = useUserStore()
const singleChatStore = useSingleChatStore()

const { tokens } = storeToRefs(userStore)

const currentRoute = computed(() => router.currentRoute.value)

const wsResponseController = async (event) => {
  const { type } = JSON.parse(event.body)

  switch (type) {
    case 1:
      if (currentRoute.value.name === 'SingleChat') {
        const companionId = router.currentRoute.value.params.userId

        await SingleChatService.dialog(companionId)

        const dialogId = router.currentRoute.value.params.dialogId

        await SingleChatService.dialogMessages(
          dialogId,
          singleChatStore.dialog.data.lastMessage?.id
        )

        await SingleChatService.readMessages()

        break
      }

      if (currentRoute.value.name === 'Chat') {
        await ChatService.dialogs()

        break
      }

      break

    case 3:
      if (currentRoute.value.name === 'Chat') {
        await ChatService.requests()

        break
      }

      break

    default:
      break
  }
}

watch(
  tokens,
  async (value) => {
    const accessToken = value?.data?.access?.token

    if (accessToken) {
      const { data, error } = await SocketService.subscriptions()

      if (!error.status) {
        SocketService.connect(accessToken, data.list, wsResponseController)
      }
    }
  },
  { immediate: true }
)

onMounted(async () => {
  await userStore.getUserInfo()

  await userStore.getUserAvatar()

  await userStore.getUserBalanceInRUB()
})
</script>

<template>
  <div class="page-content">
    <SideBar />
    <MobileSideBar />

    <router-view />
  </div>
</template>

<style lang="sass">
.page-content
    display: flex
    align-items: flex-start
    position: relative
    padding: 0 20px
    @media (max-width: 1200px)
      padding: 0
      justify-content: center

.page-content > .shape
    position: absolute
    background: linear-gradient(137.15deg, #2965FF 0%, #2E66F5 99.89%)
    mask-image: radial-gradient(ellipse 100% 100% at 50% 50%,black 10%,transparent 50%)
    -webkit-mask-image: radial-gradient(ellipse 100% 100% at 50% 50%,black 10%,transparent 50%)
    opacity: 0.3
    pointer-events: none
    bottom: -300px
    left: -300px
    width: 800px
    height: 800px
    @media (max-width: 1200px)
      display: none
</style>
