<script setup>
import { ref } from 'vue'
import { mySendsApi } from '@/views/Sends/api'

const props = defineProps({
  photoId: {
    type: String,
  },
})
const url = ref('')
const getImg = async () =>
  (url.value = (await mySendsApi.getUserPhoto(props.photoId)).data)
getImg()
</script>

<template>
  <div class="answer-slider-item">
    <img :src="url" alt="image" class="image" />
  </div>
</template>

<style lang="scss">
.answer-slider-item {
  position: relative;
  width: 38px;
  height: 38px;

  .image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    object-fit: cover;
    border-radius: 8px;
  }
}
</style>
