<script setup>
import AnswerItem from '@/components/Sends/AnswerItem.vue'
import SendSlider from '@/components/Sends/SendSlider.vue'
import { useMyAnswersStore } from '@/views/Sends/store/myAnswers'
import { computed } from 'vue'
import { SendsService } from '@/views/Sends/services'
SendsService.fetchMySends()
const myAnswersStore = useMyAnswersStore()
const myAnswers = computed(() => myAnswersStore.myAnswers.data)
</script>

<template>
  <PerfectScrollbar>
    <SendSlider />
    <div class="answers-items">
      <AnswerItem v-for="item in myAnswers" :key="item.id" :data="item" />
    </div>
  </PerfectScrollbar>
</template>

<style lang="scss">
.answers-items {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 2px;
  margin: 0 auto;
  justify-content: center;
}
.ps {
  padding-top: 150px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  .ps__rail-y {
    margin-top: 150px;
    margin-right: 5px;
    width: 2px;
    background: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0;
    .ps__thumb-y {
      width: 2px;
      background-color: #fff;
      border-radius: 0;
      right: 0;
    }
  }
  .mansoryContainer {
    margin: 0 auto;
  }
}
.ps::-webkit-scrollbar {
  display: none;
}
</style>
