<script setup>
import AnswerItem from '@/components/Sends/AnswerItem.vue'
import SendSlider from '@/components/Sends/SendSlider.vue'
import { useMyAnswersStore } from '@/views/Sends/store/myAnswers'
import { computed } from 'vue'
import { SendsService } from '@/views/Sends/services'
SendsService.fetchMySends()
const myAnswersStore = useMyAnswersStore()
const myAnswers = computed(() => myAnswersStore.myAnswers.data)
</script>

<template>
  <div class="tab-content">
    <SendSlider />
    <div class="items">
      <AnswerItem v-for="item in myAnswers" :key="item.id" :data="item" />
    </div>
  </div>
</template>
