<script setup>
import SendItem from '@/components/Sends/SendItem.vue'
import SendSlider from '@/components/Sends/SendSlider.vue'

import { useMailingStore } from '@/stores/mailing'
import { computed } from 'vue'
const MailingStore = useMailingStore()
const mailingListNew = computed(() => MailingStore.listNew.data)
</script>

<template>
  <PerfectScrollbar>
    <SendSlider />
    <div
      v-masonry=""
      transition-duration="0.3s"
      item-selector=".item"
      fit-width="true"
      class="mansoryContainer"
      :percentPosition="true"
    >
      <div
        v-for="item in mailingListNew"
        :key="item.id"
        v-masonry-tile
        class="item"
      >
        <SendItem
          :name="item.creator.name"
          :city="item.cityName"
          :msg="item.text"
          :dating-format="item.datingFormat"
          :timeago="item.startAt"
          :userId="item.creator.id"
          :id="item.id"
          :accepted="item.accepted"
          :isOnline="item.creator.online"

        />
      </div>
    </div>
  </PerfectScrollbar>
</template>

<style lang="scss">
.ps {
  padding-top: 150px;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: none;
  .ps__rail-y {
    margin-top: 150px;
    margin-right: 5px;
    width: 2px;
    background: rgba($color: #fff, $alpha: 0.3);
    border-radius: 0;
    .ps__thumb-y {
      width: 2px;
      background-color: #fff;
      border-radius: 0;
      right: 0;
    }
  }
  .mansoryContainer {
    margin: 0 auto;
  }
}
.ps::-webkit-scrollbar {
  display: none;
}
</style>
