<script setup>
import ruLocale from 'date-fns/locale/ru'
import { MainService } from '@/views/Main/services'
import { ref, computed } from 'vue'
import { MailingService } from '@/services/mailing'
import ProfileNewMessage from '@/components/Profile/ProfileNewMessage.vue'
import { useUserStore } from '@/stores/user'
// import HideSendsUserModal from '@/components/Popups/HideSendsUserModal'
import { useStore } from '@/stores/main'

const store = useStore()

const open = () => {
  store.newMessageWindow = true
}
const userStore = useUserStore()
const isMan = computed(()=>userStore.userInfo.data?.sex === 1)

const props = defineProps({
  msg: {
    type: String,
    default: 'Загрузка',
  },
  name: {
    type: String,
    default: 'Загрузка',
  },
  city: {
    type: String,
    default: 'Загрузка',
  },
  timeago: {
    type: String,
  },
  datingFormat: {
    type: Number,
  },
  userId: {
    type: String,
  },
  id: {
    type: String,
  },
  accepted: {
    type: Boolean
  },
  isOnline: {
    type: Boolean
  }
})
const url = ref('')
const getImg = async () =>
  (url.value = await MainService.avatarByUserId(props.userId))
getImg()
const datingFormats = {
  1: 'Онлайн общение',
  2: 'Серьезные отношения',
  3: 'Спонсорство',
  4: 'Пойти на свидание',
  5: 'Путешествия',
}


const sendInterest = () =>MailingService.mailingAccept(props.id)
const hide =()=> MailingService.hideMailingById(props.id)

</script>

<template>
  <HideSendsUserModal />
  <div class="send-item">
    <svg
      class="close-send-item"
      width="13"
      height="13"
      viewBox="0 0 13 13"
      fill="none"
      @click="hide($event)"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M12.4436 1.25312L11.3727 0.203125L6.32427 5.15313L1.27584 0.203125L0.204956 1.25312L5.25339 6.20312L0.204956 11.1531L1.27584 12.2031L6.32427 7.25312L11.3727 12.2031L12.4436 11.1531L7.39515 6.20312L12.4436 1.25312Z"
        fill="white"
        fill-opacity="0.33"
      />
    </svg>
    <div class="avatar">
      <div v-if="isOnline" class="online-status"></div>
      <router-link :to="{ name: 'Userprofile', params: { user: userId } }">
        <img :src="url" />
      </router-link>
    </div>
    <div>
      <div class="title-block">
        <router-link :to="{ name: 'Userprofile', params: { user: userId } }">
          <p class="name">
            {{ name }}
          </p>
        </router-link>
        <p class="adress">{{ city }}</p>
      </div>

      <div class="message-block">
        <div class="status-block">
          <p class="status-text">{{ datingFormats[datingFormat] }}</p>
        </div>
        <p class="message">
          {{ msg }}
        </p>
      </div>

      <div class="meta-block">
        <p class="meta-time">
          <timeago
            :datetime="new Date(timeago || 1232132322)"
            :auto-update="true"
            :locale="ruLocale"
          />
        </p>
        <button v-if="isMan" @click="open($event)"  class="send-status-btn">Написать</button>
        <button v-else class="send-status-btn" @click="sendInterest($event)" :class="{'active':accepted}">{{accepted?'Отправлено':'Интересно'}}</button>
        <ProfileNewMessage :userId="userId" v-if="store.newMessageWindow" />
      </div>
    </div>
  </div>
</template>

<style lang="scss">
.send-item {
  //max-width: 360px; //было 390
  padding: 24px;
  margin: 2px;
  background: #2f3034;
  border-radius: 2px;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 16px;
  position: relative;
  
  .close-send-item {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }
  .avatar {
    width: 48px;
    height: 48px;
    position: relative;
    img {
      position: absolute;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      top: 0;
      object-fit: cover;
    }
    .online-status {
      background: rgba(0, 102, 255, 1);
      width: 10px;
      height: 10px;
      position: absolute;
      z-index: 10;
      border-radius: 50%;
      right: 2px;
      top: 2px;
      border: 1px solid rgba(36, 37, 41, 1);
      pointer-events: none;
    }
  }
  .title-block {
    .name {
      font-size: 16px;
      color: #fff;
      display: inline-block;
    }
    .adress {
      color: rgba(255, 255, 255, 0.33);
      font-size: 15px;
    }
  }
  .message-block {
    margin-top: 17px;
    .status-block {
      display: flex;
      align-items: center;
      .status-icon {
        width: 18px;
        height: auto;
      }
      .status-text {
        color: #3e74ff;
        font-size: 14px;
        // margin-left: 6px;
      }
    }
    .message {
      font-size: 14px;
      font-weight: 500;
      color: rgba(255, 255, 255, 0.6);
      line-height: 1.5;
      margin-top: 5px;
    }
  }
  .meta-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    .meta-time {
      font-size: 14px;
      font-weight: 500;
      color: #fff;
    }
    .send-status-btn {
      background: #2965ff;
      border-radius: 11px;
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      border: 1px solid #2965ff;
      width: 115px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      &.active {
        border: 1px solid rgba(255, 255, 255, 0.14);
        background: rgba(255, 255, 255, 0.14);
      }
    }
  }
}
</style>
