<script setup>
import { SendsService } from '@/views/Sends/services'
defineProps({
  city: {
    type: String,
    defualt: '',
  },
  text: {
    type: String,
    defualt: '',
  },
  id: {
    type: String,
    defualt: '',
  },
  datingFormat: {
    type: Number,
    defualt: '',
  },
  status: {
    type: Number,
  },
  time: {
    type: String,
  },
})
const datingFormats = {
  1: 'Онлайн общение',
  2: 'Серьезные отношения',
  3: 'Спонсорство',
  4: 'Пойти на свидание',
  5: 'Путешествия',
}

const stopMyMsg = (id) => {
  SendsService.stopMySend(id)
}
const formatTime = (time) => {
  const month = [
    'Января',
    'Февраля',
    'Марта',
    'Апреля',
    'Мая',
    'Июня',
    'Июля',
    'Августа',
    'Сентября',
    'Ноября',
    'Декабря',
  ]
  const date = new Date(time)
  const addZero = (value) => (String(value).length === 1 ? '0' + value : value)

  return `${date.getDate()} ${month[date.getMonth()]} ${addZero(
    date.getHours()
  )}:${addZero(date.getMinutes())}`
}
const hoursEnds = (time) => {
  const outTime =
    8 -
    Math.ceil(new Date(Date.now() - new Date(time).getTime()).getMinutes() / 60)
  if (outTime === 1) {
    return outTime + ' час'
  } else if (outTime >= 2 && outTime <= 4) {
    return outTime + ' часa'
  } else return outTime + ' часов'
}
</script>

<template>
  <div class="send-slide">
    <div>
      <p class="title-block">
        <span class="adress">{{ city }}</span> |
        <span class="status">{{ datingFormats[datingFormat] }}</span>
      </p>
      <p class="text">
        {{ text }}
      </p>
    </div>
    <div>
      <div v-if="status === 2" class="timer-block">
        <p class="begin">Начало: {{ formatTime(time) }}</p>
        <p class="end">{{ hoursEnds(time) }} до окончания</p>
      </div>

      <div class="timer-block" v-if="status === 1">Рассылка находится на модерации</div>
      <button @click="stopMyMsg(id)" class="timer-btn" v-if="status === 2">
        Оставновить
      </button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.send-slide {
  border: 1px solid #ffffff;
  border-radius: 2px;
  padding: 24px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  .title-block {
    font-size: 14px;
    font-weight: 500;
  }

  .text {
    font-size: 14px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 12px;
    word-break: break-word;
  }
  .timer-block {
    border: 1px solid rgba(255, 255, 255, 0.33);
    border-radius: 2px;
    text-align: center;
    padding: 12px;
    .begin {
      font-size: 23px;
      font-weight: 700;
      color: #fff;
      margin-top: 12px;
    }
    .begin:after {
      content: '';
      display: block;
      width: 90%;
      height: 1px;
      background: rgba(255, 255, 255, 0.33);
      margin: 0 auto;
      margin-top: 24px;
    }
    .end {
      font-size: 16px;
      font-weight: 600;
      color: #3e74ff;
      margin-top: 12px;
    }
  }
  .timer-btn {
    width: 144px;
    height: 33px;
    border: 1px solid #434447;
    border-radius: 11px;
    background: transparent;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    display: block;
    cursor: pointer;
    margin-top: 27px;
  }
}
@media (max-width: 1200px) {
  .send-slide {
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 12px;
    border: 1px solid #ffffff54;
    .text {
      font-size: 13px;
    }
    .timer-btn {
      width: 100%;
      height: 43px;
      border-color: #fff;
      margin-top: 12px;
    }
    .timer-block {
      .begin {
        font-size: 15px;
        margin-top: 0;
      }
      .begin:after {
        margin-top: 12px;
      }
      .end {
        font-size: 15px;
      }
    }
  }
}
</style>
