<script setup>
import { computed, ref } from 'vue'

import TheSelect from '@/components/Form/TheSelect.vue'
import TheFormats from '@/components/Form/TheFormats.vue'
import FormRange from '@/components/Form/FormRange.vue'
import BigButton from '@/components/Form/BigButton.vue'
import { useDatabaseStore } from '@/stores/database.js'
import { useUserStore } from '@/stores/user.js'

import { MailingService } from '@/services/mailing'

const isDesctop = document.documentElement.clientWidth > 1200

const databaseStore = useDatabaseStore()
const userStore = useUserStore()

const userInfo = computed(() => userStore.userInfo.data)
const userInfoisLoading = computed(() => userStore.userInfo.isLoading)
const cities = computed(() => databaseStore.cities.data)

const selectValue = ref(null)
const formatValue = ref([])
const rangeValue = ref([])

const changeSelect = (val) => {
  selectValue.value = val
}
const changeFormat = (val) => {
  formatValue.value = val
}
const changeRange = (val) => {
  console.log(val)
  rangeValue.value = val
}

const startSearching = () => {
  const arr = []
  formatValue.value.map((el) => arr.push(el.value))
  const filterObj = {
    arr,
    page: {
      page: 0,
      count: 30,
    },
    cityId: selectValue.value?.id || userInfo.value?.city.id,
    minAge: rangeValue.value[0] || 18,
    maxAge: rangeValue.value[1] || 45,
  }
  MailingService.mailingListNew(filterObj)
}
</script>

<template>
  <form class="sorting" @submit.prevent>
    <h2 class="page-subtitle sort-title">Сортировка</h2>
    <TheSelect
      v-if="!userInfoisLoading"
      label="name"
      :default="userInfo?.city"
      :options="cities[0]"
      placeholder="Выберите город"
      @changeSelect="changeSelect($event)"
    />
    <TheFormats v-if="isDesctop" @changeFormat="changeFormat($event)" />
    <FormRange @changeRange="changeRange($event)" />
    <BigButton title="Начать поиск" @click="startSearching($event)" />
  </form>
</template>

<style lang="scss" scss>
.sorting {
  background: rgba(196, 196, 196, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.33);
  border-radius: 24px;
  padding: 24px;
  #formats {
    margin-bottom: 20px;
  }
  .big-btn {
    margin-top: 16px;
  }
  .page-subtitle.sort-title {
    margin-bottom: 16px;
  }
}
</style>
