@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-Black.ttf)
    font-weight: 900
@font-face
    font-family: 'Mulish'
    src: url(..//fonts/mulish/Mulish-ExtraBold.ttf)
    font-weight: 800
@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-Bold.ttf)
    font-weight: 700
@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-SemiBold.ttf)
    font-weight: 600
@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-Medium.ttf)
    font-weight: 500
@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-Regular.ttf)
    font-weight: 400
@font-face
    font-family: 'Mulish'
    src: url(../fonts/mulish/Mulish-Light.ttf)
    font-weight: 300

body
    background: #1C1D21
    font-family: 'Mulish'
    color: #fff

*
    margin: 0
    padding: 0
    box-sizing: border-box
    -webkit-font-smoothing: Antialiased

a
    text-decoration: none
    color: #fff

li
    list-style: none
    padding: 0
.min-btn
    font-size: 14px
    color: #fff
    border: none
    width: 115px
    height: 32px
    background: #2E66F5
    font-weight: 600
    border-radius: 10px
    cursor: pointer
    transition: all .2s ease

.min-btn:hover
    background: #2965FF

.transparent-btn
    width: 120px
    height: 34px
    display: flex
    align-items: center
    justify-content: center
    color: #fff
    text-decoration: none
    border-radius: 11px
    border: 1px solid rgba(255,255,255,0.3)
    font-size: 14px
    font-weight: 700

.with-scroll::-webkit-scrollbar
    width: 2px
    
.with-scroll::-webkit-scrollbar-track
    border-radius: 10px
    background: rgba(255, 255, 255, 0.14)
    

.with-scroll::-webkit-scrollbar-thumb
    background: rgba(255, 255, 255, 1)

.page-subtitle
    font-size: 18px
    color: #fff
    font-weight: 600
    @media (max-width: 1200px)
        font-size: 17px

#app
    overflow: hidden
    @media screen and ( max-width: 1200px )
        overflow: visible
